<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bookalo</title>
    <meta property="og:image" content="{% static 'bookalo/img/icono.png' %}">
    <meta name="description" content="Tu sitio web de compra y venta de material escolar de segunda mano. En Bookalo, puedes encontrar material de todas las etapas educativas, incluyendo infantil, primaria, ESO, bachillerato y universidad!">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="stylesheet" href="{% static 'bookalo/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/material-icons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="{% static 'bookalo/css/-Filterable-Cards-.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/best-carousel-slide.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Bold-BS4-Animated-Back-To-Top.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Bootstrap-Tags-Input-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Bootstrap-Tags-Input.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Contact-FormModal-Contact-Form-with-Google-Map.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/filtroSideBar.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="{% static 'bookalo/css/icon-star-full.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Map-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/MUSA_carousel-extended-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/MUSA_carousel-extended.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/News-Cards.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Card-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Card.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Picture-With-Badge-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Picture-With-Badge.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/select.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Sidebar-Menu-1-Filtro.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Sidebar-Menu-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Sidebar-Menu.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/SIdebar-Responsive-2-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/SIdebar-Responsive-2.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Social-Icon-Circle.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Social-Icons.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/starrating.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Tag-cloud.css' %}">
    <style>
        /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #description {
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
        }
    
        #infowindow-content .title {
            font-weight: bold;
        }
    
        #infowindow-content {
            display: none;
        }
    
        #map #infowindow-content {
            display: inline;
        }
    
        .pac-card {
            margin: 10px 10px 0 0;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            font-family: Roboto;
        }
    
        #pac-container {
            padding-bottom: 12px;
            margin-right: 12px;
        }
    
        .pac-controls {
            display: inline-block;
            padding: 5px 11px;
        }
    
        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
    
        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }
    
        #pac-input:focus {
            border-color: #4d90fe;
        }
    
        #title {
            color: #fff;
            background-color: #4d90fe;
            font-size: 25px;
            font-weight: 500;
            padding: 6px 12px;
        }
        #target {
            width: 345px;
        }
    </style>
</head>

<body>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalNotif">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Notificaciones</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p>Joseph, tienes notificaciones pendientes de revisión</p>
                </div>
                <div class="modal-footer"><a class="btn btn-secondary" role="button" style="background-color: #e91e63;border-color:transparent;border-radius:20px" href="/api/get_user_profile">Ver notificaciones</a></div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand-xl d-xl-flex justify-content-xl-start navigation-clean-search fixed-top" style="background-color: #e91e63;padding: 16px;filter: blur(0px);">
        <div class="container-fluid">
            <a class="navbar-brand" style="margin: -7px 0px 0px 0px;padding: 0px;" href="/">
                <img class="img-fluid" style="width: 97px;height: 25px;" src="{% static 'bookalo/img/bookalo_logo.png' %}">
            </a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;font-size: 16px;font-weight: bold;" href="/">Comprar</a></li>
                </ul>
                {% if loggedin %}
                <button class="btn btn-secondary action-button" type="button" style="background-color: rgba(4,143,131,0);border-color: transparent;font-weight: bold;color: rgb(255,255,255);" data-toggle="modal" data-target="#modalNotif">Notificaciones</button>
                {% endif %}
                <form
                    class="form-inline mr-auto" target="_self">
                    <p></p>
                </form>
                <ul class="nav navbar-nav">
                    {% if loggedin %}
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;padding: 8px 15px;" href="/api/get_user_products">Mis productos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;padding: 8px 15px;" href="/api/create_product">Subir producto</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;padding: 8px 15px;" href="" onclick="cerrarSesion()">Cerrar sesión</a></li>
                    {% endif %}
                </ul>
                {% if loggedin %}
                <a class="btn btn-light action-button" role="button" id="menu-toggle" style="background-color: rgb(194,194,194);padding: 8px 15px;" href="#menu-toggle">Tu perfil</a>
                {% else %}
                <a class="btn btn-light action-button" role="button" style="background-color: rgb(194,194,194);padding: 8px 15px;" data-toggle="modal" data-target="#modalLogin" href="#">Iniciar Sesion</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalLogin">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Iniciar sesión</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="col" style="padding: 0px;">
                        <div class="row" style="margin: 0px;">
                            <div class="col" style="padding: 0px;">
                                <p style="margin: 0px;">Para iniciar sesión, escoge una de las alternativas que se ofrecen a continuación.</p>
                            </div>
                        </div>
                        <div class="row" style="margin: 20px 0px 0px 0px;">
                            <div class="col text-center">
                                <button onclick="facebookLogin()" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #002649;border-color: 0px;padding: 0px;margin: 0px 15px 0px 0px;" type="button"><i class="icon ion-social-facebook" style="color:#ffffff;font-size:30px;"></i></button>
                                <button onclick="googleLogin()" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #db4437;border-color: transparent;padding: 0px;margin: 0px 20px 0px 0px;" type="button"><i class="icon ion-social-google" style="color:#ffffff;font-size:30px;"></i></button>
                                <button onclick="twitterLogin()" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #00aced;border-color: transparent;padding: 0px;" type="button"><i class="icon ion-social-twitter" style="color:#ffffff;font-size:30px;"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" style="background-color: #e91e63;color: rgb(255,255,255);" type="button">Cerrar</button></div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="toggled" style="color: rgb(40, 45, 50);margin: 72px 0px 0px 0px;">
        <div class="text-left d-lg-flex" id="sidebar-wrapper" style="background-color: rgb(40,45,50);margin: 0px 0px 50px -250px;">
            <div class="col" style="padding: 0px;color: rgb(40, 45, 50);">
                <div class="row" style="padding: 0px;">
                    <div class="col text-center" style="padding: 0px;"><a href="/api/get_user_profile"><img style="width: 100%;height: 160px;bottom: 20px;" src="{{ informacion_basica.imagen_perfil }}"></a></div>
                </div>
                <div class="row" style="width: 100%;margin: 25px 0px 0px 10px;">
                    <div class="col" style="padding: 0px;">
                        <h2 class="text-left" style="margin: 0px;color: rgb(255,255,255);font-family: Actor, sans-serif;">{{ informacion_basica.nombre }}</h2>
                    </div>
                </div>
                <div class="row" style="width: 100%;margin: 10px 0px 0px 0px;">
                    <div class="col-xl-1" style="padding: 0px 0px 0px 10px;">
                        {% if informacion_basica.media_valoraciones == -1 %}
                        <h6 style="color: rgb(255,255,255);width: 150px;margin: px 0px 0px 0px;">Sin valoraciones</h6>
                        {% else %}
                        <h6 style="color: rgb(255,255,255);width: 23px;margin: px 0px 0px 0px;">{{ informacion_basica.media_valoraciones }}<img style="width: 15px;height: 15px;margin: -43px 0px 0px 20px;" src="{% static 'bookalo/img/star.png' %}"></h6>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin: 20px 0px 0px 0px;padding: 0px;width: 100%;">
                    <div class="col" style="padding: 0px;"><a class="btn btn-outline-primary text-center d-xl-flex justify-content-xl-center align-items-xl-center" role="button" style="width: 100%;height: 40px;background-color: #e91e63;font-size: 22px;border-color: transparent;margin: 0px 0px 0px 0px;color: rgb(255,255,255);"
                            href="/api/get_chats">Mis chats</a></div>
                </div>
                <div class="row" style="margin: 0px 0px 0px 0px;padding: 0px;">
                    <div class="col" style="padding: 0px;font-size: 22px;"><button class="btn btn-secondary text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="width: 100%;padding: -81px;height: 40px;background-color: #e91e63;font-size: 22px;border-color: transparent;margin: 3px 0px 0px 0px;"
                            type="button">Productos favoritos</button></div>
                </div>
                <div class="row" style="margin: 0px;width: 100%;">
                    <div class="col" style="width: 100%;padding: 0px;margin: 0px 0px 55px 0px;">
                        <div role="tablist" id="accordion-1" style="width: 100%;height: 100%;">
                            {% for p in informacion_basica.productos_favoritos %}
                            <div class="card" style="margin: 2px 0px 0px 0px;">
                                <div class="card-header" role="tab" style="background-color: rgba(233,30,99,0.6);margin: -1px -1px -1px -1px;">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-{{ forloop.counter }}" href="div#accordion-1 .item-{{ forloop.counter }}" style="color: rgb(0,0,0);margin: 0px 0px 0px 0px;font-size: 17px;">{{ p.info_producto.nombre }}</a>
                                    </h5>
                                </div>
                                <div class="collapse item-{{ forloop.counter }} text-center" role="tabpanel" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <div class="row" style="margin: -19px -20px;">
                                            <div class="col" style="padding: 0px;">
                                                <img style="width: 100%;height: 102%;" src="{{ p.info_producto.contenido_multimedia.0.contenido_url }}">
                                            </div>
                                            <div class="col text-left" style="padding: 0px;margin: 5px 0px 0px 10px;">
                                                <p style="margin: 0px 0px 0px;">{{ p.info_producto.num_likes }} likes</p>
                                                <p>
                                                    <strong>{{ p.info_producto.precio }} €</strong>
                                                </p>
                                                <a class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" role="button" href="/api/generic_product_view/?id={{ p.info_producto.pk }}">Ver más</a>
                                                <button onclick="anadirFavorito('{{ p.info_producto.pk }}')" class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" type="button">Quitar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form enctype="multipart/form-data" action="/api/edit_product" method = "post">
    {% csrf_token %}
    <p style="margin: 30px 0px 0px 30px; color: red">Atención: Las imágenes y etiquetas ya cargadas en el sistema se mantendrán.</p>
    <div class="row" style="padding: 20px 30px;">
        <div class="col"><input type="file" id="files" class="file" multiple="" data-preview-file-type="text" name="files" data-show-caption="true" data-msg-placeholder="Seleccione las imágenes" data-show-upload="false" accept="image/*"></div>
    </div>
    <div class="row" style="padding: 0px 15px;margin: 0px 0px 0px 0px;">
        <div class="col">
            <div class="form-group has-feedback" style="margin: 20px 0px 16px 0px;">
                <label for="nombre" style="font-size: 30px;font-family: Antic, sans-serif;">Nombre del producto</label>
                <input value="{{ producto.nombre }}" class="form-control" type="text" id="nombre" tabindex="-1" placeholder="Nombre completo del producto" name="nombre" required="" maxlength="50">
            </div>
            <div class="form-group has-feedback" style="margin: 20px 0px 16px 0px;">
                <label for="precio" style="font-size: 30px;font-family: Antic, sans-serif;">Precio del producto</label>
                <input value="{{ producto.precio }}" class="form-control" type="text" id="precio" tabindex="-1" placeholder="Precio del producto" name="precio" required="">
            </div>
            <div class="form-group has-feedback" style="margin: 20px 0px 16px 0px;">
                <label for="from_name" style="font-size: 30px;font-family: Antic, sans-serif;">Descripción del producto</label>
                <textarea value="{{ producto.descripcion }}" class="form-control" id="descripcion" placeholder="Descripción del producto" tabindex="-1" name="descripcion" rows="5" maxlength="1000" required="">{{ producto.descripcion }}</textarea>
            </div>
            <div class="form-group">
                <label for="from_name" style="font-size: 30px;font-family: Antic, sans-serif;">Etiquetas del producto</label><br>
                {% for tag in producto.tiene_tags %}
                <span style="margin: 0px 0px 20px 0px" class="tag label label-info">{{ tag.nombre }}<span data-role="remove"></span></span>
                {% endfor %}
                <input class="form-control" type="text" id="tags" name="tags" data-role="tagsinput" data-class="label-info" placeholder="Añade las etiquetas del producto">
            </div>
            <div class="form-group"><label for="from_name" style="font-size: 30px;font-family: Antic, sans-serif;">Características del producto y envío</label>
            <div class="form-row">
                <div class="col">
                    <div class="form-check text-left">
                        <input class="form-check-input" type="radio" id="formCheck-1" name="estado_producto" value="Nuevo" {% if producto.estado_producto == "Nuevo"%} checked {% endif %}>
                        <label class="form-check-label" for="formCheck-1">Nuevo</label>
                    </div>
                    <div class="form-check text-left" style="margin: 0px;">
                        <input class="form-check-input" type="radio" id="formCheck-2" name="estado_producto" value="Seminuevo" {% if producto.estado_producto == "Seminuevo"%} checked {% endif %}>
                        <label class="form-check-label" for="formCheck-2">Seminuevo</label>
                    </div>
                    <div class="form-check text-left">
                        <input class="form-check-input" type="radio" id="formCheck-3" name="estado_producto" value="Usado" {% if producto.estado_producto == "Usado"%} checked {% endif %}>
                        <label class="form-check-label" for="formCheck-3">Usado</label>
                    </div>
                </div>
            </div>
            <div class="form-row text-center" style="margin: 20px -5px 0px -5px;">
                <div class="col-xl-12" style="margin: 0px;">
                    <div class="form-check text-left">
                        <input class="form-check-input" type="radio" id="formCheck-4" name="tipo_envio" value="True" {% if producto.tipo_envio %} checked {% endif %}>
                        <label class="form-check-label" for="formCheck-4">Con envío</label>
                    </div>
                    <div class="form-check text-left">
                        <input class="form-check-input" type="radio" id="formCheck-5" name="tipo_envio" value="False"{% if not producto.tipo_envio %} checked {% endif %}>
                        <label class="form-check-label" for="formCheck-5">Sin envío</label>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="id_producto" name="id_producto" value="{{ producto.pk }}">
        <input id="latitud" name="latitud" type="hidden" value="">
        <input id="longitud" name="longitud" type="hidden" value="">
        <div class="form-row">
            <div class="col text-center">
                <button class="btn btn-secondary text-center" style="background-color: #e91e63;border-color: transparent;margin: 20px 0px 30px 0px;" type="submit">Guardar cambios</button>
            </div>
        </div>
        </form>
    </div>

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map" class="col" style="height: 800px">
    <script>
        // This example adds a search box to a map, using the Google Place Autocomplete
        // feature. People can enter geographical searches. The search box will return a
        // pick list containing a mix of places and predicted search terms.

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        function initAutocomplete() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 41.6563497, lng: -0.876566},
                zoom: 13,
                mapTypeId: 'roadmap'
            });

            // Create the search box and link it to the UI element.
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                return;
                }

                // Clear out the old markers.
                markers.forEach(function(marker) {
                marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                document.getElementById("latitud").value = place.geometry.location.lat();
                document.getElementById("longitud").value = place.geometry.location.lng();

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
                });
                map.fitBounds(bounds);
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8J3bxQEsVzkzpdNEoApuGxXFvXGajBg0&libraries=places&callback=initAutocomplete"
    async defer></script>
    </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-xl-2 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Chat integrado</a></li>
                            <li><a href="#">Productos favoritos</a></li>
                            <li><a href="#">Valoración de usuarios</a></li>
                            <li><a href="/api/privacypolicy">Política de privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xl-4 item">
                        <h3>El proyecto</h3>
                        <p style="opacity: 0.60;font-size: 14px;">El proyecto Bookalo nace como el resultado del trabajo de nueve estudiantes de Ingeniería Informática en la Universidad de Zaragoza, en el marco de la asignatura de Proyecto Software</p>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Bookalo</h3>
                        <p>Bookalo nace como una plataforma para la compraventa de productos nuevos y de segunda mano, enfocándose en el material escolar de todas las etapas educativas. ¿Aún no eres parte de Bookalo? ¡Únete!</p>
                    </div>
                    <div class="col item social" style="margin: 30px 0px 0px 0px;"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Bookalo</p>
            </div>
        </footer>
    </div><a class="cd-top js-cd-top cd-top--fade-out cd-top--show" style="background-image: url(&quot;{% static 'bookalo/img/cd-top-arrow.svg' %}&quot;);background-color: #e91e63;" href="#0">Top</a>
    <script src="{% static 'bookalo/js/jquery.min.js' %}"></script>
    <script src="{% static 'bookalo/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bookalo/js/-Filterable-Cards-.js' %}"></script>
    <script src="{% static 'bookalo/js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
    <script src="{% static 'bookalo/js/Bootstrap-Tags-Input-1.js' %}"></script>
    <script src="{% static 'bookalo/js/Bootstrap-Tags-Input.js' %}"></script>
    <script src="{% static 'bookalo/js/Contact-FormModal-Contact-Form-with-Google-Map.js' %}"></script>
    <script src="{% static 'bookalo/js/favoritos.js' %}"></script>
    <script src="{% static 'bookalo/js/fileinput.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>
    <script src="{% static 'bookalo/js/MUSA_carousel-extended.js' %}"></script>
    <script src="{% static 'bookalo/js/piexif.js' %}"></script>
    <script src="{% static 'bookalo/js/piexif.min.js' %}"></script>
    <script src="{% static 'bookalo/js/purify.js' %}"></script>
    <script src="{% static 'bookalo/js/purify.min.js' %}"></script>
    <script src="{% static 'bookalo/js/Range-selector---slider.js' %}"></script>
    <script src="{% static 'bookalo/js/Sidebar-Menu.js' %}"></script>
    <script src="{% static 'bookalo/js/slider.js' %}"></script>
    <script src="{% static 'bookalo/js/sortable.js' %}"></script>
    <script src="{% static 'bookalo/js/sortable.min.js' %}"></script>
    <script src="{% static 'bookalo/js/starrating.js' %}"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-app.js"></script>

    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-messaging.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBUH-4_qFvkszGWxII8HyooOJNDqbltDKo",
            authDomain: "bookalo-9e0fe.firebaseapp.com",
            databaseURL: "https://bookalo-9e0fe.firebaseio.com",
            projectId: "bookalo-9e0fe",
            storageBucket: "bookalo-9e0fe.appspot.com",
            messagingSenderId: "305041397855"
        };
        firebase.initializeApp(config);
    </script>
    <script>
        function getLocation(provider) {
            if (navigator.geolocation) {
                if(provider == "googleLogin"){
                    navigator.geolocation.getCurrentPosition(googleLogin);
                }else if(provider == "twitterLogin"){
                    navigator.geolocation.getCurrentPosition(twitterLogin);
                }else{
                    navigator.geolocation.getCurrentPosition(facebookLogin);
                }
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
    </script>
    <script>
        function facebookLogin(position){
            var provider = new firebase.auth.FacebookAuthProvider();
            firebase.auth().useDeviceLanguage();
            provider.setCustomParameters({
                'display': 'popup'
            });
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a Facebook Access Token. You can use it to access the Facebook API.
                var token = result.credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                // ...
                firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                    var csrftoken = '{{ csrf_token }}';
                    $.post("/api/login", {'csrfmiddlewaretoken': csrftoken, 'token': idToken});
                }).catch(function(error) {
                    alert("Error al iniciar sesión")
                    // Handle error
                });
                }).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
            });
        }
    </script>
    <script>
        function googleLogin(position){
            var provider = new firebase.auth.GoogleAuthProvider();
            firebase.auth().useDeviceLanguage();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a Google Access Token. You can use it to access the Google API.
                var token = result.credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                // ...
                firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                    var csrftoken = '{{ csrf_token }}';
                    const messaging = firebase.messaging();
                    messaging.requestPermission().then(function() {
                        console.log('Notification permission granted.');
                        messaging.getToken().then(function(currentToken) {
                            if (currentToken) {
                                $.post("/api/login", {'csrfmiddlewaretoken': csrftoken, 'token': idToken, 'fcm_token': currentToken, 'latitud': position.coords.latitude, 'longitud': position.coords.longitude});
                                setTimeout(function(){
                                    document.location.reload(true);
                                }, 1500);
                            } else {
                                alert("No Instance ID token available");
                                // Show permission request.
                                console.log('No Instance ID token available. Request permission to generate one.');
                            }
                        }).catch(function(err) {
                            alert("An error occurred while retrieving token");
                            console.log('An error occurred while retrieving token. ', err);
                        });
                    }).catch(function(err) {
                        alert("Unable to get permission to notify");
                        console.log('Unable to get permission to notify.', err);
                    });
                }).catch(function(error) {
                    alert("Error al iniciar sesión")
                    // Handle error
                });
            	}).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
            });
        }
    </script>
    <script>
        function twitterLogin(position){
            var provider = new firebase.auth.TwitterAuthProvider();
            firebase.auth().useDeviceLanguage();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a the Twitter OAuth 1.0 Access Token and Secret.
                // You can use these server side with your app's credentials to access the Twitter API.
                var token = result.credential.accessToken;
                var secret = result.credential.secret;
                // The signed-in user info.
                var user = result.user;
                // ...
                firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                    var csrftoken = '{{ csrf_token }}';
                    const messaging = firebase.messaging();
                    messaging.requestPermission().then(function() {
                        console.log('Notification permission granted.');
                        messaging.getToken().then(function(currentToken) {
                            if (currentToken) {
                                $.post("/api/login", {'csrfmiddlewaretoken': csrftoken, 'token': idToken, 'fcm_token': currentToken, 'latitud': position.coords.latitude, 'longitud': position.coords.longitude});
                                setTimeout(function(){
                                    document.location.reload(true);
                                }, 1500);
                            } else {
                                alert("No Instance ID token available");
                                // Show permission request.
                                console.log('No Instance ID token available. Request permission to generate one.');
                            }
                        }).catch(function(err) {
                            alert("An error occurred while retrieving token");
                            console.log('An error occurred while retrieving token. ', err);
                        });
                    }).catch(function(err) {
                        alert("Unable to get permission to notify");
                        console.log('Unable to get permission to notify.', err);
                    });
                }).catch(function(error) {
                    alert("Error al iniciar sesión")
                    // Handle error
                });
                }).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
            });
        }
    </script>
    <script>
        function cerrarSesion(){
            var csrftoken = '{{ csrf_token }}';
            $.post("/logout", {'csrfmiddlewaretoken': csrftoken});
            firebase.auth().signOut();
            setTimeout(function(){
                document.location.reload(true);
            }, 1500);
        }
    </script>
</body>
</html>