<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bookalo</title>
    <meta property="og:image" content="{% static 'bookalo/img/icono.png' %}">
    <meta name="description" content="Tu sitio web de compra y venta de material escolar de segunda mano. En Bookalo, puedes encontrar material de todas las etapas educativas, incluyendo infantil, primaria, ESO, bachillerato y universidad!">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="stylesheet" href="{% static 'bookalo/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/material-icons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="{% static 'bookalo/css/-Filterable-Cards-.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/best-carousel-slide.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Bold-BS4-Animated-Back-To-Top.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Bootstrap-Tags-Input-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Bootstrap-Tags-Input.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Contact-FormModal-Contact-Form-with-Google-Map.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/filtroSideBar.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="{% static 'bookalo/css/icon-star-full.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Map-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/MUSA_carousel-extended-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/MUSA_carousel-extended.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/News-Cards.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Card-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Card.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Picture-With-Badge-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Picture-With-Badge.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/select.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Sidebar-Menu-1-Filtro.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Sidebar-Menu-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Sidebar-Menu.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/SIdebar-Responsive-2-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/SIdebar-Responsive-2.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Social-Icon-Circle.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Social-Icons.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/starrating.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Tag-cloud.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-xl d-xl-flex justify-content-xl-start navigation-clean-search fixed-top" style="background-color: #e91e63;padding: 16px;filter: blur(0px);">
        <div class="container-fluid"><a class="navbar-brand" style="margin: -7px 0px 0px 0px;padding: 0px;" href="/"><img class="img-fluid" style="width: 97px;height: 25px;" src="{% static 'bookalo/img/bookalo_logo.png' %}"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;font-size: 16px;font-weight: bold;" href="/">Comprar</a></li>
                </ul><button class="btn btn-secondary action-button" type="button" style="background-color: rgba(4,143,131,0);border-color: transparent;font-weight: bold;color: rgb(255,255,255);" data-toggle="modal" data-target="#modalNotif">Ver modal</button>
                <form
                    class="form-inline mr-auto" target="_self">
                    <p></p>
                    </form>
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;padding: 8px 15px;" href="/api/get_user_products">Mis productos</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;padding: 8px 15px;" href="/api/create_product">Subir producto</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color: #000000;padding: 8px 15px;" href="/">Cerrar sesión</a></li>
                    </ul><a class="btn btn-light action-button" role="button" style="background-color: rgb(194,194,194);padding: 8px 15px;" data-toggle="modal" data-target="#modalLogin" href="#">Iniciar Sesion</a><a class="btn btn-link" role="button" id="menu-toggle"
                        style="color: #e91e63;" href="#menu-toggle"><i class="fa fa-bars" style="color: rgb(0,0,0);"></i></a></div>
        </div>
    </nav>
    <div id="wrapper" class="toggled" style="color: rgb(40, 45, 50);margin: 72px 0px 0px 0px;background-color: rgb(40,45,50);">
        <div class="text-left d-lg-flex" id="sidebar-wrapper" style="background-color: rgb(40,45,50);margin: 0px 0px 50px -250px;">
            <div class="col" style="padding: 0px;color: rgb(40, 45, 50);">
                <div class="row" style="padding: 0px;">
                    <div class="col text-center" style="padding: 0px;"><a href="/api/get_user_profile"><img style="width: 100%;height: 160px;bottom: 20px;" src="{% static 'bookalo/img/Depilacion-Hombre.jpg' %}"></a></div>
                </div>
                <div class="row" style="width: 100%;margin: 25px 0px 0px 10px;">
                    <div class="col" style="padding: 0px;">
                        <h2 class="text-left" style="margin: 0px;color: rgb(255,255,255);font-family: Actor, sans-serif;">Juan López</h2>
                    </div>
                </div>
                <div class="row" style="width: 100%;margin: 10px 0px 0px 0px;">
                    <div class="col-xl-1" style="padding: 0px 0px 0px 10px;">
                        <h6 style="color: rgb(255,255,255);width: 23px;margin: px 0px 0px 0px;">5<img style="width: 15px;height: 15px;margin: -43px 0px 0px 20px;" src="{% static 'bookalo/img/star.png' %}"></h6>
                    </div>
                </div>
                <div class="row" style="margin: 20px 0px 0px 0px;padding: 0px;width: 100%;">
                    <div class="col" style="padding: 0px;"><a class="btn btn-outline-primary text-center d-xl-flex justify-content-xl-center align-items-xl-center" role="button" style="width: 100%;height: 40px;background-color: #e91e63;font-size: 22px;border-color: transparent;margin: 0px 0px 0px 0px;color: rgb(255,255,255);"
                            href="/api/get_chats">Mis chats</a></div>
                </div>
                <div class="row" style="margin: 0px 0px 0px 0px;padding: 0px;">
                    <div class="col" style="padding: 0px;font-size: 22px;"><button class="btn btn-secondary text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="width: 100%;padding: -81px;height: 40px;background-color: #e91e63;font-size: 22px;border-color: transparent;margin: 3px 0px 0px 0px;"
                            type="button">Productos favoritos</button></div>
                </div>
                <div class="row" style="margin: 0px;width: 100%;">
                    <div class="col" style="width: 100%;padding: 0px;margin: 0px 0px 55px 0px;">
                        <div role="tablist" id="accordion-1" style="width: 100%;height: 100%;">
                            <div class="card" style="margin: 2px 0px 0px 0px;">
                                <div class="card-header" role="tab" style="background-color: rgba(233,30,99,0.6);margin: -1px -1px -1px -1px;">
                                    <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1" style="color: rgb(0,0,0);margin: 0px 0px 0px 0px;font-size: 17px;">Lengua castellana y literatura</a></h5>
                                </div>
                                <div class="collapse item-1 text-center" role="tabpanel" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <div class="row" style="margin: -19px -20px;">
                                            <div class="col" style="padding: 0px;"><img style="width: 100%;height: 100%;" src="{% static 'bookalo/img/Imagen8.png' %}"></div>
                                            <div class="col text-left" style="padding: 0px;margin: 5px 0px 0px 10px;">
                                                <p style="margin: 0px 0px 0px;">50 likes</p>
                                                <p><strong>100 €</strong></p><a class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" role="button" href="/api/generic_product_view">Ver más</a>
                                                <button
                                                    class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" type="button">Quitar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="margin: 2px 0px 0px 0px;">
                                <div class="card-header" role="tab" style="background-color: rgba(233,30,99,0.6);margin: -1px -1px -1px -1px;">
                                    <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="div#accordion-1 .item-2" style="color: rgb(0,0,0);margin: 0px 0px 0px 0px;font-size: 17px;">Matemáticas 1ESO</a></h5>
                                </div>
                                <div class="collapse item-2 text-center" role="tabpanel" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <div class="row" style="margin: -19px -20px;">
                                            <div class="col" style="padding: 0px;"><img style="width: 100%;height: 100%;" src="{% static 'bookalo/img/Imagen8.png' %}"></div>
                                            <div class="col text-left" style="padding: 0px;margin: 5px 0px 0px 10px;">
                                                <p style="margin: 0px 0px 0px;">50 likes</p>
                                                <p><strong>100 €</strong></p><a class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" role="button" href="/api/generic_product_view">Ver más</a>
                                                <button
                                                    class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" type="button">Quitar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="margin: 2px 0px 0px 0px;">
                                <div class="card-header" role="tab" style="background-color: rgba(233,30,99,0.6);margin: -1px -1px -1px -1px;">
                                    <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="div#accordion-1 .item-3" style="color: rgb(0,0,0);margin: 0px 0px 0px 0px;font-size: 17px;">Acuarelas</a></h5>
                                </div>
                                <div class="collapse item-3 text-center" role="tabpanel" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <div class="row" style="margin: -19px -20px;">
                                            <div class="col" style="padding: 0px;"><img style="width: 100%;height: 100%;" src="{% static 'bookalo/img/Imagen8.png' %}"></div>
                                            <div class="col text-left" style="padding: 0px;margin: 5px 0px 0px 10px;">
                                                <p style="margin: 0px 0px 0px;">50 likes</p>
                                                <p><strong>100 €</strong></p><a class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" role="button" href="/api/generic_product_view">Ver más</a>
                                                <button
                                                    class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" type="button">Quitar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="margin: 2px 0px 0px 0px;">
                                <div class="card-header" role="tab" style="background-color: rgba(233,30,99,0.6);margin: -1px -1px -1px -1px;">
                                    <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-4" href="div#accordion-1 .item-4" style="color: rgb(0,0,0);margin: 0px 0px 0px 0px;font-size: 17px;">Workbook Inglés 2ESO</a></h5>
                                </div>
                                <div class="collapse item-4 text-center" role="tabpanel" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <div class="row" style="margin: -19px -20px;">
                                            <div class="col" style="padding: 0px;"><img style="width: 100%;height: 100%;" src="{% static 'bookalo/img/Imagen8.png' %}"></div>
                                            <div class="col text-left" style="padding: 0px;margin: 5px 0px 0px 10px;">
                                                <p style="margin: 0px 0px 0px;">50 likes</p>
                                                <p><strong>100 €</strong></p><a class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" role="button" href="/api/generic_product_view">Ver más</a>
                                                <button
                                                    class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" type="button">Quitar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapperFilter" class="toggled" style="background-color: rgb(40,45,50);">
        <div class="text-left d-lg-flex" id="sidebar-wrapper-filtro" style="background-color: rgb(40,45,50);overflow: auto;height: 90.5%;">
            <div class="col" style="padding: 0px;">
                <div class="row" style="margin: 20px 0px 0px 0px;">
                    <div class="col">
                        <h1 style="color: rgb(255,255,255);font-family: Antic, sans-serif;font-size: 25px;">Búsqueda de productos</h1>
                    </div>
                </div>
                <div class="row" style="margin: 15px 0px 25px 0px;">
                    <div class="col d-xl-flex">
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"><i class="fa fa-search" style="color: rgb(255,255,255);"></i></label><input class="form-control search-field" type="search" id="search-field" style="background-color: #ffffff;filter: hue-rotate(0deg);border-radius: 1.25rem;margin-left: 5px;height: 27px;width: 180px;"
                                    name="search"></div>
                        </form>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col">
                        <h1 style="font-family: Antic, sans-serif;font-size: 25px;color: rgb(255,255,255);">Filtros</h1>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col">
                        <h3 style="font-family: Antic, sans-serif;color: rgb(255,255,255);margin: 10px 0px 0px 10px;font-size: 20px;">Valoración</h3>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col" style="padding: 0px;">
                        <div class="text-center star-rating" style="margin: 7px 0px 0px 0px;"><span class="fa fa-star-o" data-rating="1"></span><span class="fa fa-star-o" data-rating="2"></span><span class="fa fa-star-o" data-rating="3"></span><span class="fa fa-star-o" data-rating="4"></span><span class="fa fa-star-o"
                                data-rating="5"></span><input type="hidden" class="rating-value" name="whatever1" value="2.56"></div>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col">
                        <h3 style="font-family: Antic, sans-serif;color: rgb(255,255,255);margin: 10px 0px 0px 10px;font-size: 20px;">Precio</h3>
                    </div>
                </div>
                <div class="row text-center d-xl-flex justify-content-center justify-content-xl-center" style="margin: 10px 0px 0px 0px;">
                    <div class="col"><div class="input-group mb-3 edtFormMarg">
    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Escoja uno...</option>
        <option value="+100">Más de 100€</option>
        <option value="50100">50 a 100€</option>
        <option value="2550">25 a 50€</option>
        <option value="1025">10 a 25€</option>
        <option value="510">5 a 10€</option>
        <option value="05">Hasta 5€</option>
    </select>
</div></div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col">
                        <h3 style="font-family: Antic, sans-serif;color: rgb(255,255,255);margin: 10px 0px 0px 10px;font-size: 20px;">Distancia</h3>
                    </div>
                </div>
                <div class="row text-center d-xl-flex justify-content-center justify-content-xl-center" style="margin: 10px 0px 0px 0px;">
                    <div class="col"><div class="input-group mb-3 edtFormMarg">
    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Escoja uno...</option>
        <option value="+100">Más de 100 km</option>
        <option value="100">Hasta 100 km</option>
        <option value="50">Hasta 50 km</option>
        <option value="25">Hasta 25 km</option>
        <option value="10">Hasta 10 km</option>
        <option value="5">Hasta 5 km</option>
    </select>
</div></div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col">
                        <h3 style="font-family: Antic, sans-serif;color: rgb(255,255,255);margin: 10px 0px 0px 10px;font-size: 20px;">Etiquetas del producto</h3>
                    </div>
                </div>
                <div class="row d-xl-flex" style="margin: 20px 0px 0px 0px;">
                    <div class="col text-center"><input type="text" data-role="tagsinput" data-class="label-info" placeholder="Add a new tag here"></div>
                </div>
                <div class="row d-xl-flex" style="margin: 20px 0px 20px 0px;">
                    <div class="col text-center"><button class="btn btn-secondary" type="button" style="background-color: #e91e63;border-color:transparent;border-radius:20px">Filtrar</button></div>
                </div>
            </div>
        </div>
        <main id="page-content-wrapper" style="background-color: #ffffff;">
            <div class="row">
                <div class="col">
                    <h1 class="text-center" style="font-family: Antic, sans-serif;margin: 15px 0px 0px 0px;"><strong>Bookalo</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="text-center" style="font-family: Antic, sans-serif;">Compra y vende tus productos en un clic</h5>
                </div>
            </div>
            <div class="row" style="margin: 0px;height: 19px;">
                <div class="col text-center d-md-flex d-xl-flex align-self-center justify-content-md-center justify-content-xl-center" style="margin: 20px 0px 0px 0px;"><a class="btn btn-link text-center d-inline-block float-left d-xl-flex" role="button" id="menu-toggle-Filtro" style="color: #e91e63;border-color: #e91e63;border-radius:20px" data-toggle="&quot;wrapperFilter&quot;" href="#menu-toggle">Buscar productos</a></div>
            </div>
            <section class="py-5" style="padding: 0;margin: 0;">
                <div class="container">
                    <div class="row filtr-container">
                        {% for p in productos %}
                        <div class="col-md-6 col-lg-4 filtr-item" data-category="2,3">
                            <div class="card border-dark" style="border-radius:20px">
                                <div class="d-flex align-items-center card-header text-light" style="background: #;background-color: #e91e63;padding: 10px 20px;border-top-left-radius:20px;border-top-right-radius:20px">
                                    <h5 class="m-0" style="width: 90%;">{{ p.nombre }}</h5><span id="foe" style="cursor:pointer"><i class="fa fa-heart"></i></span></div><img class="img-fluid card-img w-100 d-block rounded-0" src="{{ p.contenido_multimedia.0.contenido_url }}">
                                <div class="card-body">
                                    <div class="d-inline-flex flex-row align-items-xl-center" style="width: 100%;">
                                        <h4 style="width: 60%;"><strong>{{ p.precio }}€</strong></h4>
                                        <h5 class="text-right" style="width: 40%;">1.500m</h5>
                                    </div>
                                    <p class="card-text">{{ p.descripcion }}<br></p>
                                </div>
                                <div class="d-xl-flex d-flex align-items-xl-center card-footer" style="border-bottom-left-radius:20px;border-bottom-right-radius:20px">
                                    <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="width: 35%;">
                                        <i class="fa fa-star" style="width: 20;"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    </div>
                                    <a class="btn btn-outline-dark btn-sm ml-auto" role="button" href="/api/generic_product_view"><i class="fa fa-eye"></i>&nbsp;Ver producto</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalNotif">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Notificaciones</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p>Joseph, tienes notificaciones pendientes de revisión</p>
                </div>
                <div class="modal-footer"><a class="btn btn-secondary" role="button" style="background-color: #e91e63;border-color:transparent;border-radius:20px" href="/api/get_user_profile">Ver notificaciones</a></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalLogin">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Iniciar sesión</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="col" style="padding: 0px;">
                        <div class="row" style="margin: 0px;">
                            <div class="col" style="padding: 0px;">
                                <p style="margin: 0px;">Para iniciar sesión, escoge una de las alternativas que se ofrecen a continuación.</p>
                            </div>
                        </div>
                        <div class="row" style="margin: 20px 0px 0px 0px;">
                            <div class="col text-center">
                                <button onclick="facebookLogin()" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #002649;border-color: 0px;padding: 0px;margin: 0px 15px 0px 0px;" type="button"><i class="icon ion-social-facebook" style="color:#ffffff;font-size:30px;"></i></button>
                                <button onclick="googleLogin()" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #db4437;border-color: transparent;padding: 0px;margin: 0px 20px 0px 0px;" type="button"><i class="icon ion-social-google" style="color:#ffffff;font-size:30px;"></i></button>
                                <button onclick="twitterLogin()" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #00aced;border-color: transparent;padding: 0px;" type="button"><i class="icon ion-social-twitter" style="color:#ffffff;font-size:30px;"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" style="background-color: #e91e63;color: rgb(255,255,255);" type="button">Cerrar</button></div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-xl-2 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Chat integrado</a></li>
                            <li><a href="#">Productos favoritos</a></li>
                            <li><a href="#">Valoración de usuarios</a></li>
                            <li><a href="/api/privacypolicy">Política de privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xl-4 item">
                        <h3>El proyecto</h3>
                        <p style="opacity: 0.60;font-size: 14px;">El proyecto Bookalo nace como el resultado del trabajo de nueve estudiantes de Ingeniería Informática en la Universidad de Zaragoza, en el marco de la asignatura de Proyecto Software</p>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Bookalo</h3>
                        <p>Bookalo nace como una plataforma para la compraventa de productos nuevos y de segunda mano, enfocándose en el material escolar de todas las etapas educativas. ¿Aún no eres parte de Bookalo? ¡Únete!</p>
                    </div>
                    <div class="col item social" style="margin: 30px 0px 0px 0px;"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Bookalo</p>
            </div>
        </footer>
    </div><a class="cd-top js-cd-top cd-top--fade-out cd-top--show" style="background-image: url(&quot;{% static 'bookalo/img/cd-top-arrow.svg' %}&quot;);background-color: #e91e63;" href="#0">Top</a>
    <script src="{% static 'bookalo/js/jquery.min.js' %}"></script>
    <script src="{% static 'bookalo/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bookalo/js/-Filterable-Cards-.js' %}"></script>
    <script src="{% static 'bookalo/js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
    <script src="{% static 'bookalo/js/Bootstrap-Tags-Input-1.js' %}"></script>
    <script src="{% static 'bookalo/js/Bootstrap-Tags-Input.js' %}"></script>
    <script src="{% static 'bookalo/js/Contact-FormModal-Contact-Form-with-Google-Map.js' %}"></script>
    <script src="{% static 'bookalo/js/favoritos.js' %}"></script>
    <script src="{% static 'bookalo/js/fileinput.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>
    <script src="{% static 'bookalo/js/MUSA_carousel-extended.js' %}"></script>
    <script src="{% static 'bookalo/js/piexif.js' %}"></script>
    <script src="{% static 'bookalo/js/piexif.min.js' %}"></script>
    <script src="{% static 'bookalo/js/purify.js' %}"></script>
    <script src="{% static 'bookalo/js/purify.min.js' %}"></script>
    <script src="{% static 'bookalo/js/Range-selector---slider.js' %}"></script>
    <script src="{% static 'bookalo/js/Sidebar-Menu.js' %}"></script>
    <script src="{% static 'bookalo/js/slider.js' %}"></script>
    <script src="{% static 'bookalo/js/sortable.js' %}"></script>
    <script src="{% static 'bookalo/js/sortable.min.js' %}"></script>
    <script src="{% static 'bookalo/js/starrating.js' %}"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-app.js"></script>

    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-auth.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBUH-4_qFvkszGWxII8HyooOJNDqbltDKo",
            authDomain: "bookalo-9e0fe.firebaseapp.com",
            databaseURL: "https://bookalo-9e0fe.firebaseio.com",
            projectId: "bookalo-9e0fe",
            storageBucket: "bookalo-9e0fe.appspot.com",
            messagingSenderId: "305041397855"
        };
        firebase.initializeApp(config);
    </script>
    <script>
        function facebookLogin(){
            var provider = new firebase.auth.FacebookAuthProvider();
            firebase.auth().useDeviceLanguage();
            provider.setCustomParameters({
                'display': 'popup'
            });
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a Facebook Access Token. You can use it to access the Facebook API.
                var token = result.credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                // ...
                firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                    var csrftoken = '{{ csrf_token }}';
                    $.post("/api/login", {'csrfmiddlewaretoken': csrftoken, 'token': idToken});
                }).catch(function(error) {
                    alert("Error al iniciar sesión")
                    // Handle error
                });
                }).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
            });
        }
    </script>
    <script>
        function googleLogin(){
            var provider = new firebase.auth.GoogleAuthProvider();
            firebase.auth().useDeviceLanguage();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a Google Access Token. You can use it to access the Google API.
                var token = result.credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                // ...
                firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                    var csrftoken = '{{ csrf_token }}';
                    $.post("/api/login", {'csrfmiddlewaretoken': csrftoken, 'token': idToken});
                }).catch(function(error) {
                    alert("Error al iniciar sesión")
                    // Handle error
                });
            	}).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
            });
        }
    </script>
    <script>
        function twitterLogin(){
            var provider = new firebase.auth.TwitterAuthProvider();
            firebase.auth().useDeviceLanguage();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a the Twitter OAuth 1.0 Access Token and Secret.
                // You can use these server side with your app's credentials to access the Twitter API.
                var token = result.credential.accessToken;
                var secret = result.credential.secret;
                // The signed-in user info.
                var user = result.user;
                // ...
                firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                    var csrftoken = '{{ csrf_token }}';
                    $.post("/api/login", {'csrfmiddlewaretoken': csrftoken, 'token': idToken});
                }).catch(function(error) {
                    alert("Error al iniciar sesión")
                    // Handle error
                });
                }).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
            });
        }
    </script>
</body>
</html>
