<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-messaging.js"></script>

    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBUH-4_qFvkszGWxII8HyooOJNDqbltDKo",
        authDomain: "bookalo-9e0fe.firebaseapp.com",
        databaseURL: "https://bookalo-9e0fe.firebaseio.com",
        projectId: "bookalo-9e0fe",
        storageBucket: "bookalo-9e0fe.appspot.com",
        messagingSenderId: "305041397855",
        appId: "1:305041397855:web:e1a3597e365315eb"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bookalo</title>
    <meta property="og:image" content="{% static 'bookalo/img/icono.png' %}">
    <meta name="description" content="Tu sitio web de compra y venta de material escolar de segunda mano. En Bookalo, puedes encontrar material de todas las etapas educativas, incluyendo infantil, primaria, ESO, bachillerato y universidad!">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="stylesheet" href="{% static 'bookalo/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/material-icons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="{% static 'bookalo/css/-Filterable-Cards-.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/best-carousel-slide.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Bold-BS4-Animated-Back-To-Top.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Bootstrap-Tags-Input-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Bootstrap-Tags-Input.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Contact-FormModal-Contact-Form-with-Google-Map.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/filtroSideBar.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="{% static 'bookalo/css/icon-star-full.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Map-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/MUSA_carousel-extended-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/MUSA_carousel-extended.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/News-Cards.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Card-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Card.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Picture-With-Badge-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Picture-With-Badge.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/select.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Sidebar-Menu-1-Filtro.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Sidebar-Menu-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Sidebar-Menu.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/SIdebar-Responsive-2-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/SIdebar-Responsive-2.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Social-Icon-Circle.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Social-Icons.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/starrating.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Tag-cloud.css' %}">
    <link rel="manifest" href="{% static 'bookalo/manifest.json' %}">
</head>

<body onload="getLocation('')">
    <nav class="navbar navbar-light navbar-expand-xl d-xl-flex justify-content-xl-start navigation-clean-search fixed-top" style="background-color: #e91e63;padding: 16px;filter: blur(0px);">
        <div class="container-fluid">
            <a class="navbar-brand" style="margin: -7px 0px 0px 0px;padding: 0px;" href="/">
                <img class="img-fluid" style="width: 97px;height: 25px;" src="{% static 'bookalo/img/bookalo_logo.png' %}">
            </a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;font-size: 16px;font-weight: bold;" href="/">Comprar</a></li>
                </ul>
                {% if loggedin %}
                {% if tiene_notificaciones %}
                <button class="btn btn-secondary action-button" type="button" style="background-color: rgba(4,143,131,0);border-color: transparent;font-weight: bold;color: rgb(255,255,255);" data-toggle="modal" data-target="#modalNotif">Notificaciones</button>
                {% endif %}
                {% endif %}
                <form
                    class="form-inline mr-auto" target="_self">
                    <p></p>
                </form>
                <ul class="nav navbar-nav">
                    {% if loggedin %}
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;padding: 8px 15px;" href="/api/get_user_products">Mis productos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;padding: 8px 15px;" href="/create_product">Subir producto</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;padding: 8px 15px;" href="" onclick="cerrarSesion()">Cerrar sesión</a></li>
                    {% endif %}
                </ul>
                {% if loggedin %}
                <a class="btn btn-light action-button" role="button" id="menu-toggle" style="background-color: rgb(194,194,194);padding: 8px 15px;" href="#menu-toggle">Tu perfil</a>
                {% else %}
                <a class="btn btn-light action-button" role="button" style="background-color: rgb(194,194,194);padding: 8px 15px;" data-toggle="modal" data-target="#modalLogin" href="#">Iniciar Sesion</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div id="wrapper" class="toggled" style="color: rgb(40, 45, 50);margin: 72px 0px 0px 0px;background-color: rgb(40,45,50);">
        <div class="text-left d-lg-flex" id="sidebar-wrapper" style="background-color: rgb(40,45,50);margin: 0px 0px 50px -250px;">
            <div class="col" style="padding: 0px;color: rgb(40, 45, 50);">
                <div class="row" style="padding: 0px;">
                    <div class="col text-center" style="padding: 0px;"><a href="/api/get_user_profile"><img style="width: 100%;height: 160px;bottom: 20px;" src="{{ informacion_basica.imagen_perfil }}"></a></div>
                </div>
                <div class="row" style="width: 100%;margin: 25px 0px 0px 10px;">
                    <div class="col" style="padding: 0px;">
                        <h2 class="text-left" style="margin: 0px;color: rgb(255,255,255);font-family: Actor, sans-serif;">{{ informacion_basica.nombre }}</h2>
                    </div>
                </div>
                <div class="row" style="width: 100%;margin: 10px 0px 0px 0px;">
                    <div class="col" style="padding: 0px 0px 0px 10px;">
                        {% if informacion_basica.media_valoraciones == -1 %}
                        <h6 style="color: rgb(255,255,255);width: 150px;margin: px 0px 0px 0px;">Sin valoraciones</h6>
                        {% else %}
                        <div style="margin: 0px 0px 0px 0px;">
                            {% if informacion_basica.media_valoraciones == 1 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-half-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 2 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 3 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-half-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 4 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 5 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-half-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 6 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 7 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-half-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 8 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 9 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-half-o"></i>
                            {% elif informacion_basica.media_valoraciones == 10 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i>
                            {% else %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>{% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin: 20px 0px 0px 0px;padding: 0px;width: 100%;">
                    <div class="col" style="padding: 0px;"><a class="btn btn-outline-primary text-center d-xl-flex justify-content-xl-center align-items-xl-center" role="button" style="width: 100%;height: 40px;background-color: #e91e63;font-size: 22px;border-color: transparent;margin: 0px 0px 0px 0px;color: rgb(255,255,255);"
                            href="/api/get_chats">Mis chats</a></div>
                </div>
                <div class="row" style="margin: 0px 0px 0px 0px;padding: 0px;">
                    <div class="col" style="padding: 0px;font-size: 22px;"><button class="btn btn-secondary text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="width: 100%;padding: -81px;height: 40px;background-color: #e91e63;font-size: 22px;border-color: transparent;margin: 3px 0px 0px 0px;"
                            type="button">Productos favoritos</button></div>
                </div>
                <div class="row" style="margin: 0px;width: 100%;">
                    <div class="col" style="width: 100%;padding: 0px;margin: 0px 0px 55px 0px;">
                        <div role="tablist" id="accordion-1" style="width: 100%;height: 100%;">
                            {% for p in informacion_basica.productos_favoritos %}
                            <div class="card" style="margin: 2px 0px 0px 0px;">
                                <div class="card-header" role="tab" style="background-color: rgba(233,30,99,0.6);margin: -1px -1px -1px -1px;">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-{{ forloop.counter }}" href="div#accordion-1 .item-{{ forloop.counter }}" style="color: rgb(0,0,0);margin: 0px 0px 0px 0px;font-size: 17px;">{{ p.info_producto.nombre }}</a>
                                    </h5>
                                </div>
                                <div class="collapse item-{{ forloop.counter }} text-center" role="tabpanel" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <div class="row" style="margin: -19px -20px;">
                                            <div class="col" style="padding: 0px;">
                                                <img style="width: 100%;height: 102%;" src="{{ p.info_producto.contenido_multimedia.0.contenido_url }}">
                                            </div>
                                            <div class="col text-left" style="padding: 0px;margin: 5px 0px 0px 10px;">
                                                <p style="margin: 0px 0px 0px;">{{ p.info_producto.num_likes }} likes</p>
                                                <p>
                                                    <strong>{{ p.info_producto.precio }} €</strong>
                                                </p>
                                                <a class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" role="button" href="/api/generic_product_view/?id={{ p.info_producto.pk }}">Ver más</a>
                                                <button onclick="anadirFavorito('{{ p.info_producto.pk }}')" class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" type="button">Quitar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapperFilter" class="toggled" style="background-color: rgb(40,45,50);">
        <div class="text-left d-lg-flex" id="sidebar-wrapper-filtro" style="background-color: rgb(40,45,50);overflow: auto;height: 90.5%;">
            <div class="col" style="padding: 0px;">
                <form action="/api/filter_product" method="post">
                {% csrf_token %}
                <div class="row" style="margin: 20px 0px 0px 0px;">
                    <div class="col">
                        <h1 style="color: rgb(255,255,255);font-family: Antic, sans-serif;font-size: 25px;">Búsqueda de productos</h1>
                    </div>
                </div>
                <div class="row" style="margin: 15px 0px 25px 0px;">
                    <div class="col d-xl-flex">
                        <div class="form-inline mr-auto">
                            <div class="form-group">
                                <label for="search-field">
                                    <i class="fa fa-search" style="color: rgb(255,255,255);"></i>
                                </label>
                                <input class="form-control search-field" type="text" id="busqueda" style="background-color: #ffffff;filter: hue-rotate(0deg);border-radius: 1.25rem;margin-left: 5px;height: 27px;width: 180px;" name="busqueda">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col">
                        <h1 style="font-family: Antic, sans-serif;font-size: 25px;color: rgb(255,255,255);">Filtros</h1>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col">
                        <h3 style="font-family: Antic, sans-serif;color: rgb(255,255,255);margin: 10px 0px 0px 10px;font-size: 20px;">Valoración</h3>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col" style="padding: 0px;">
                        <div class="text-center star-rating" style="margin: 7px 0px 0px 0px;">
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="6"></span>
                            <span class="fa fa-star-o" data-rating="8"></span>
                            <span class="fa fa-star-o" data-rating="10"></span>
                            <input type="hidden" type="text" id="calificacion_minima" class="rating-value" name="calificacion_minima" value="-2">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col">
                        <h3 style="font-family: Antic, sans-serif;color: rgb(255,255,255);margin: 10px 0px 0px 10px;font-size: 20px;">Precio</h3>
                    </div>
                </div>
                <div class="row text-center d-xl-flex justify-content-center justify-content-xl-center" style="margin: 10px 0px 0px 0px;">
                    <div class="col">
                        <div class="input-group mb-3 edtFormMarg">
                            <select class="custom-select" id="precio_minimo" name="precio_minimo">
                                <option selected value="">Escoja uno...</option>
                                <option value="100,infinito">Más de 100€</option>
                                <option value="50,100">50 a 100€</option>
                                <option value="25,50">25 a 50€</option>
                                <option value="10,25">10 a 25€</option>
                                <option value="5,10">5 a 10€</option>
                                <option value="0,5">Hasta 5€</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col">
                        <h3 style="font-family: Antic, sans-serif;color: rgb(255,255,255);margin: 10px 0px 0px 10px;font-size: 20px;">Distancia</h3>
                    </div>
                </div>
                <div class="row text-center d-xl-flex justify-content-center justify-content-xl-center" style="margin: 10px 0px 0px 0px;">
                    <div class="col">
                        <div class="input-group mb-3 edtFormMarg">
                            <select class="custom-select" id="distancia_maxima" name="distancia_maxima">
                                <option selected value="">Escoja uno...</option>
                                <option value="infinito">Más de 100 km</option>
                                <option value="100">Hasta 100 km</option>
                                <option value="50">Hasta 50 km</option>
                                <option value="25">Hasta 25 km</option>
                                <option value="10">Hasta 10 km</option>
                                <option value="5">Hasta 5 km</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0px;">
                    <div class="col">
                        <h3 style="font-family: Antic, sans-serif;color: rgb(255,255,255);margin: 10px 0px 0px 10px;font-size: 20px;">Etiquetas del producto</h3>
                    </div>
                </div>
                <div class="row d-xl-flex" style="margin: 20px 0px 0px 0px;">
                    <div class="col text-center">
                        <input type="text" data-role="tagsinput" id="tags" name="tags" data-class="label-info" placeholder="Añade las etiquetas">
                    </div>
                </div>
                <input type="hidden" id="latitud" name="latitud" value="">
                <input type="hidden" id="longitud" name="longitud" value="">
                <div class="row d-xl-flex" style="margin: 20px 0px 20px 0px;">
                    <div class="col text-center">
                        <button class="btn btn-secondary" type="submit" style="background-color: #e91e63;border-color:transparent;border-radius:20px">Filtrar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <input type="hidden" id="indice" value="0">
        <main id="page-content-wrapper" style="background-color: #ffffff;">
            <div class="row">
                <div class="col">
                    <h1 class="text-center" style="font-family: Antic, sans-serif;margin: 15px 0px 0px 0px;"><strong>Bookalo</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="text-center" style="font-family: Antic, sans-serif;">Compra y vende tus productos en un clic</h5>
                </div>
            </div>
            <div class="row" style="margin: 0px;height: 19px;">
                <div class="col text-center d-md-flex d-xl-flex align-self-center justify-content-md-center justify-content-xl-center" style="margin: 20px 0px 0px 0px;">
                    <a class="btn btn-link text-center d-inline-block float-left d-xl-flex" role="button" id="menu-toggle-Filtro" style="color: #e91e63;border-color: #e91e63;border-radius:20px" data-toggle="&quot;wrapperFilter&quot;" href="#menu-toggle">Buscar productos</a>
                </div>
            </div>
            {% if productos.0 == null %}
            <div class="row" style="margin: 70px 0px 0px 0px;">
                <div class="col text-center"><i class="far fa-sad-tear light" style="font-size: 200px;color: #e91e63;"></i>
                    {% if not filter_product %}
                    <h1 style="font-family: Antic, sans-serif;font-size: 30px;margin: 30px 0px 0px 0px;">¡Vaya! Aún no hay productos</h1>
                    <h1 style="font-family: Antic, sans-serif;margin: 0px 0px 20px 0px;">¡Sube las cosas que ya no usas y gana dinero!</h1>
                    {% else %}
                    <h1 style="font-family: Antic, sans-serif;font-size: 30px;margin: 30px 0px 0px 0px;">¡Vaya! No se han encontrado productos</h1>
                    <h1 style="font-family: Antic, sans-serif;margin: 0px 0px 20px 0px;">Modifica los parámetros de la búsqueda</h1>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <section class="py-5" style="padding: 0;margin: 0;">
                <div class="container">
                    <div id="contenedorTarjetones" class="row filtr-container">
                        {% for p in productos %}
                        <div class="col-md-6 col-lg-4 filtr-item" data-category="2,3">
                            <div class="card shadow" style="border-radius:20px; border-color: transparent;">
                                <div class="d-flex align-items-center card-header text-light" style="background-color: #e91e63;padding: 10px 20px;border-top-left-radius:20px;border-top-right-radius:20px">
                                    <h5 class="m-0" style="width: 90%;">{{ p.info_producto.nombre }}</h5>
                                    {% if loggedin %}
                                        {% if informacion_basica.uid == p.vendido_por.uid %}
                                            <a style="color:#ffffff"href="/api/edit_product_render/?id_producto={{ p.pk }}"><span id="foe" style="cursor:pointer"><i id="{{ p.pk }}Icon" class="fas fa-edit"></i></span></a>
                                        {% else %}
                                            {% if p.le_gusta %}
                                                <span id="foe" onclick="anadirFavorito('{{ p.pk }}')" style="cursor:pointer"><i id="{{ p.pk }}Icon" class="fas fa-thumbs-down"></i></span>
                                            {% else %}
                                                <span id="foe" onclick="anadirFavorito('{{ p.pk }}')" style="cursor:pointer"><i id="{{ p.pk }}Icon" class="fas fa-thumbs-up"></i></span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <img class="img-fluid card-img w-100 d-block rounded-0" style="height:200px" src="{{ p.info_producto.contenido_multimedia.0.contenido_url }}">
                                <div class="card-body" style="background-color: #F0F0F0">
                                    <div class="d-inline-flex flex-row align-items-xl-center" style="width: 100%;">
                                        <h4 style="width: 60%;"><strong>{{ p.info_producto.precio }}€</strong></h4>
                                        {% if loggedin %}
                                        <h5 class="text-right" style="width: 40%;">{{ p.distancia }}km</h5>
                                        {% endif %}
                                    </div>
                                    <p class="card-text">{{ p.info_producto.descripcion }}<br></p>
                                </div>
                                <div class="d-xl-flex d-flex align-items-xl-center card-footer" style="border-color:transparent;border-bottom-left-radius:20px;border-bottom-right-radius:20px; background-color: #F0F0F0">
                                    <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="width: 35%;">
                                        {% if p.vendido_por.media_valoraciones == 1 %}<i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        {% elif p.vendido_por.media_valoraciones == 2 %}<i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        {% elif p.vendido_por.media_valoraciones == 3 %}<i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        {% elif p.vendido_por.media_valoraciones == 4 %}<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        {% elif p.vendido_por.media_valoraciones == 5 %}<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        {% elif p.vendido_por.media_valoraciones == 6 %}<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        {% elif p.vendido_por.media_valoraciones == 7 %}<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
                                        {% elif p.vendido_por.media_valoraciones == 8 %}<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                        {% elif p.vendido_por.media_valoraciones == 9 %}<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                                        {% elif p.vendido_por.media_valoraciones == 10 %}<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        {% else %}<i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>{% endif %}
                                    </div>
                                    <a class="btn btn-outline-dark btn-sm ml-auto" role="button" href="/api/generic_product_view/?id={{ p.info_producto.pk }}"><i class="fa fa-eye"></i>&nbsp;Ver producto</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            {% endif %}
            {% if not filter_product %}
            <div class="row" style="margin: 0px 0px 20px 0px;">
                <div class="col text-center">
                    {% if ultimo_indice_siguiente != 6 %}
                        <a href="https://bookalo.es/?ultimo_indice={{ ultimo_indice_anterior }}&elementos_pagina=6" class="btn btn-secondary" style="background-color: #e91e63;border-color: transparent;margin: 0px 20px 0px 0px;border-radius:20px;color:#F0F0F0">Página anterior</a>
                    {% endif %}
                    {% if productos|length == 6 %}
                    {% if not tope %}
                        <a href="https://bookalo.es/?ultimo_indice={{ ultimo_indice_siguiente }}&elementos_pagina=6" class="btn btn-secondary" style="background-color: #e91e63;border-color: transparent;margin: 0px 0px 0px 20px;border-radius:20px;color:#F0F0F0">Página siguiente</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </main>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalNotif">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Notificaciones</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p>{{ informacion_basica.nombre }}, tienes notificaciones pendientes de revisión</p>
                </div>
                <div class="modal-footer"><a class="btn btn-secondary" role="button" style="background-color: #e91e63;border-color:transparent;border-radius:20px" href="/api/get_user_profile">Ver notificaciones</a></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalLogin">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Iniciar sesión</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="col" style="padding: 0px;">
                        <div class="row" style="margin: 0px;">
                            <div class="col" style="padding: 0px;">
                                <p style="margin: 0px;">Para iniciar sesión, escoge una de las alternativas que se ofrecen a continuación.</p>
                            </div>
                        </div>
                        <div class="row" style="margin: 20px 0px 0px 0px;">
                            <div class="col text-center">
                                <button onclick="getLocation('facebookLogin')" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #002649;border-color: 0px;padding: 0px;margin: 0px 15px 0px 0px;" type="button"><i class="icon ion-social-facebook" style="color:#ffffff;font-size:30px;"></i></button>
                                <button onclick="getLocation('googleLogin')" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #db4437;border-color: transparent;padding: 0px;margin: 0px 20px 0px 0px;" type="button"><i class="icon ion-social-google" style="color:#ffffff;font-size:30px;"></i></button>
                                <button onclick="getLocation('twitterLogin')" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #00aced;border-color: transparent;padding: 0px;" type="button"><i class="icon ion-social-twitter" style="color:#ffffff;font-size:30px;"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" style="background-color: #e91e63;color: rgb(255,255,255);" type="button">Cerrar</button></div>
            </div>
        </div>
    </div>
    <input type="hidden" id="loggedin" value="{{ loggedin }}">
    <input type="hidden" id="uidMio" value="{{ informacion_basica.uid }}">
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-xl-2 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Chat integrado</a></li>
                            <li><a href="#">Productos favoritos</a></li>
                            <li><a href="#">Valoración de usuarios</a></li>
                            <li><a href="/privacypolicy">Política de privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xl-4 item">
                        <h3>El proyecto</h3>
                        <p style="opacity: 0.60;font-size: 14px;">El proyecto Bookalo nace como el resultado del trabajo de nueve estudiantes de Ingeniería Informática en la Universidad de Zaragoza, en el marco de la asignatura de Proyecto Software</p>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Bookalo</h3>
                        <p>Bookalo nace como una plataforma para la compraventa de productos nuevos y de segunda mano, enfocándose en el material escolar de todas las etapas educativas. ¿Aún no eres parte de Bookalo? ¡Únete!</p>
                    </div>
                    <div class="col item social" style="margin: 30px 0px 0px 0px;"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Bookalo</p>
            </div>
        </footer>
    </div><a class="cd-top js-cd-top cd-top--fade-out cd-top--show" style="background-image: url(&quot;{% static 'bookalo/img/cd-top-arrow.svg' %}&quot;);background-color: #e91e63;" href="#0">Top</a>
    <script src="{% static 'bookalo/js/jquery.min.js' %}"></script>
    <script src="{% static 'bookalo/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bookalo/js/-Filterable-Cards-.js' %}"></script>
    <script src="{% static 'bookalo/js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
    <script src="{% static 'bookalo/js/Bootstrap-Tags-Input-1.js' %}"></script>
    <script src="{% static 'bookalo/js/Bootstrap-Tags-Input.js' %}"></script>
    <script src="{% static 'bookalo/js/Contact-FormModal-Contact-Form-with-Google-Map.js' %}"></script>
    <script src="{% static 'bookalo/js/fileinput.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>
    <script src="{% static 'bookalo/js/MUSA_carousel-extended.js' %}"></script>
    <script src="{% static 'bookalo/js/piexif.js' %}"></script>
    <script src="{% static 'bookalo/js/piexif.min.js' %}"></script>
    <script src="{% static 'bookalo/js/purify.js' %}"></script>
    <script src="{% static 'bookalo/js/purify.min.js' %}"></script>
    <script src="{% static 'bookalo/js/Range-selector---slider.js' %}"></script>
    <script src="{% static 'bookalo/js/Sidebar-Menu.js' %}"></script>
    <script src="{% static 'bookalo/js/slider.js' %}"></script>
    <script src="{% static 'bookalo/js/sortable.js' %}"></script>
    <script src="{% static 'bookalo/js/sortable.min.js' %}"></script>
    <script src="{% static 'bookalo/js/starrating.js' %}"></script>
    <script>
        function getLocation(provider) {
            if(navigator.userAgent.toLowerCase().indexOf("android") > -1){
                window.location.replace("https://bookalo.es/mobile_app");
            }
            if(navigator.userAgent.toLowerCase().indexOf("iphone") > -1){
                window.location.replace("https://bookalo.es/mobile_app");
            }
            if (navigator.geolocation) {
                if(provider == "googleLogin"){
                    navigator.geolocation.getCurrentPosition(googleLogin);
                }else if(provider == "twitterLogin"){
                    navigator.geolocation.getCurrentPosition(twitterLogin);
                }else if(provider == "facebookLogin"){
                    navigator.geolocation.getCurrentPosition(facebookLogin);
                }else{
                    navigator.geolocation.getCurrentPosition(initCoords);
                }
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function initCoords(position){
            document.getElementById("latitud").value = position.coords.latitude;
            document.getElementById("longitud").value = position.coords.longitude;
        }
    </script>
    <script>
        function facebookLogin(position){
            var provider = new firebase.auth.FacebookAuthProvider();
            firebase.auth().useDeviceLanguage();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a Facebook Access Token. You can use it to access the Facebook API.
                var token = result.credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                // ...
                firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                    var csrftoken = '{{ csrf_token }}';
                    const messaging = firebase.messaging();
                    messaging.requestPermission().then(function() {
                        console.log('Notification permission granted.');
                        messaging.getToken().then(function(currentToken) {
                            if (currentToken) {
                                $.post("/api/login", {'csrfmiddlewaretoken': csrftoken, 'token': idToken, 'fcm_token': currentToken, 'latitud': position.coords.latitude, 'longitud': position.coords.longitude});
                                setTimeout(function(){
                                    document.location.reload(true);
                                }, 1500);
                            } else {
                                alert("No Instance ID token available");
                                // Show permission request.
                                console.log('No Instance ID token available. Request permission to generate one.');
                            }
                        }).catch(function(err) {
                            alert("An error occurred while retrieving token");
                            console.log('An error occurred while retrieving token. ', err);
                        });
                    }).catch(function(err) {
                        alert("Unable to get permission to notify");
                        console.log('Unable to get permission to notify.', err);
                    });
                }).catch(function(error) {
                    alert("Error al iniciar sesión")
                    // Handle error
                });
            }).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
                alert("No se pudo conectar con Facebook. Por favor, inténtelo de nuevo.");
                alert(errorMessage);
            });
        }
    </script>
    <script>
        function googleLogin(position){
            var provider = new firebase.auth.GoogleAuthProvider();
            firebase.auth().useDeviceLanguage();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a Google Access Token. You can use it to access the Google API.
                var token = result.credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                // ...
                firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                    var csrftoken = '{{ csrf_token }}';
                    const messaging = firebase.messaging();
                    messaging.requestPermission().then(function() {
                        console.log('Notification permission granted.');
                        messaging.getToken().then(function(currentToken) {
                            if (currentToken) {
                                $.post("/api/login", {'csrfmiddlewaretoken': csrftoken, 'token': idToken, 'fcm_token': currentToken, 'latitud': position.coords.latitude, 'longitud': position.coords.longitude});
                                setTimeout(function(){
                                    document.location.reload(true);
                                }, 1500);
                            } else {
                                alert("No Instance ID token available");
                                // Show permission request.
                                console.log('No Instance ID token available. Request permission to generate one.');
                            }
                        }).catch(function(err) {
                            alert("An error occurred while retrieving token");
                            console.log('An error occurred while retrieving token. ', err);
                        });
                    }).catch(function(err) {
                        alert("Unable to get permission to notify");
                        console.log('Unable to get permission to notify.', err);
                    });
                }).catch(function(error) {
                    alert("Error al iniciar sesión")
                    // Handle error
                });
            	}).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
                alert("No se pudo conectar con Google. Por favor, inténtelo de nuevo.");
                alert(errorMessage);
            });
        }
    </script>
    <script>
        function twitterLogin(position){
            var provider = new firebase.auth.TwitterAuthProvider();
            firebase.auth().useDeviceLanguage();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a the Twitter OAuth 1.0 Access Token and Secret.
                // You can use these server side with your app's credentials to access the Twitter API.
                var token = result.credential.accessToken;
                var secret = result.credential.secret;
                // The signed-in user info.
                var user = result.user;
                // ...
                firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                    var csrftoken = '{{ csrf_token }}';
                    const messaging = firebase.messaging();
                    messaging.requestPermission().then(function() {
                        console.log('Notification permission granted.');
                        messaging.getToken().then(function(currentToken) {
                            if (currentToken) {
                                $.post("/api/login", {'csrfmiddlewaretoken': csrftoken, 'token': idToken, 'fcm_token': currentToken, 'latitud': position.coords.latitude, 'longitud': position.coords.longitude});
                                setTimeout(function(){
                                    document.location.reload(true);
                                }, 1500);
                            } else {
                                alert("No Instance ID token available");
                                // Show permission request.
                                console.log('No Instance ID token available. Request permission to generate one.');
                            }
                        }).catch(function(err) {
                            alert("An error occurred while retrieving token");
                            console.log('An error occurred while retrieving token. ', err);
                        });
                    }).catch(function(err) {
                        alert("Unable to get permission to notify");
                        console.log('Unable to get permission to notify.', err);
                    });
                }).catch(function(error) {
                    alert("Error al iniciar sesión")
                    // Handle error
                });
                }).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
                alert("No se pudo conectar con Twitter. Por favor, inténtelo de nuevo.");
                alert(errorMessage);
            });
        }
    </script>
    <script>
        function cerrarSesion(){
            var csrftoken = '{{ csrf_token }}';
            $.post("/logout", {'csrfmiddlewaretoken': csrftoken});
            firebase.auth().signOut().then(function() {
                window.location = "https://bookalo.es"
            }).catch(function(error) {
                alert("Error al cerrar sesión");
            });
        }
    </script>
    <script>
        function anadirFavorito(id){
            if(document.getElementById(id + "Icon").className == "fas fa-thumbs-up"){
                document.getElementById(id + "Icon").className = "fas fa-thumbs-down";
            } else{
                document.getElementById(id + "Icon").className = "fas fa-thumbs-up";
            }
            var csrftoken = '{{ csrf_token }}';
            $.post("/api/like_product", {'csrfmiddlewaretoken': csrftoken, 'idProducto': id});
            document.location.reload(true);
        }
    </script>
</body>
</html>