<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-messaging.js"></script>

    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBUH-4_qFvkszGWxII8HyooOJNDqbltDKo",
        authDomain: "bookalo-9e0fe.firebaseapp.com",
        databaseURL: "https://bookalo-9e0fe.firebaseio.com",
        projectId: "bookalo-9e0fe",
        storageBucket: "bookalo-9e0fe.appspot.com",
        messagingSenderId: "305041397855",
        appId: "1:305041397855:web:e1a3597e365315eb"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bookalo</title>
    <meta property="og:image" content="{% static 'bookalo/img/icono.png' %}">
    <meta name="description" content="Tu sitio web de compra y venta de material escolar de segunda mano. En Bookalo, puedes encontrar material de todas las etapas educativas, incluyendo infantil, primaria, ESO, bachillerato y universidad!">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="icon" type="image/png" sizes="401x401" href="{% static 'bookalo/img/icono.png' %}">
    <link rel="stylesheet" href="{% static 'bookalo/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/material-icons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="{% static 'bookalo/css/-Filterable-Cards-.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/best-carousel-slide.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Bold-BS4-Animated-Back-To-Top.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Bootstrap-Tags-Input-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Bootstrap-Tags-Input.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Contact-FormModal-Contact-Form-with-Google-Map.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/filtroSideBar.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="{% static 'bookalo/css/icon-star-full.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Map-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/MUSA_carousel-extended-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/MUSA_carousel-extended.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/News-Cards.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Card-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Card.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Picture-With-Badge-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Profile-Picture-With-Badge.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/select.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Sidebar-Menu-1-Filtro.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Sidebar-Menu-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Sidebar-Menu.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/SIdebar-Responsive-2-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/SIdebar-Responsive-2.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Social-Icon-Circle.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Social-Icons.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/starrating.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Tag-cloud.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-xl d-xl-flex justify-content-xl-start navigation-clean-search fixed-top" style="background-color: #e91e63;padding: 16px;filter: blur(0px);">
        <div class="container-fluid">
            <a class="navbar-brand" style="margin: -7px 0px 0px 0px;padding: 0px;" href="/">
                <img class="img-fluid" style="width: 97px;height: 25px;" src="{% static 'bookalo/img/bookalo_logo.png' %}">
            </a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;font-size: 16px;font-weight: bold;" href="/">Comprar</a></li>
                </ul>
                {% if loggedin %}
                {% if tiene_notificaciones %}
                <button class="btn btn-secondary action-button" type="button" style="background-color: rgba(4,143,131,0);border-color: transparent;font-weight: bold;color: rgb(255,255,255);" data-toggle="modal" data-target="#modalNotif">Notificaciones</button>
                {% endif %}
                {% endif %}
                <form
                    class="form-inline mr-auto" target="_self">
                    <p></p>
                </form>
                <ul class="nav navbar-nav">
                    {% if loggedin %}
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;padding: 8px 15px;" href="/api/get_user_products">Mis productos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;padding: 8px 15px;" href="/create_product">Subir producto</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color: #ffffff;padding: 8px 15px;" href="" onclick="cerrarSesion()">Cerrar sesión</a></li>
                    {% endif %}
                </ul>
                {% if loggedin %}
                <a class="btn btn-light action-button" role="button" id="menu-toggle" style="background-color: rgb(194,194,194);padding: 8px 15px;" href="#menu-toggle">Tu perfil</a>
                {% else %}
                <a class="btn btn-light action-button" role="button" style="background-color: rgb(194,194,194);padding: 8px 15px;" data-toggle="modal" data-target="#modalLogin" href="#">Iniciar Sesion</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalNotif">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Notificaciones</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p>{{ informacion_basica.nombre }}, tienes notificaciones pendientes de revisión</p>
                </div>
                <div class="modal-footer"><a class="btn btn-secondary" role="button" style="background-color: #e91e63;border-color:transparent;border-radius:20px" href="/api/get_user_profile">Ver notificaciones</a></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalReport">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/api/create_report" method="post">
                <div class="modal-header">
                    <h4 class="modal-title" style="font-family: Antic, sans-serif;font-size: 30px;">Reportar a {{ producto.vendido_por.nombre }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="font-family: Antic, sans-serif;">¡Vaya! Lamentamos tu mala experiencia en Bookalo. Para evitar que vuelva a ocurrir, por favor, indica el motivo del reporte.</p>
                    <h4 style="font-family: Antic, sans-serif;">Selecciona un motivo:</h4>
                    <div class="row d-xl-flex" style="margin: 20px 0px 0px 0px;">
                        <div class="col d-sm-flex d-lg-flex d-xl-flex justify-content-sm-center justify-content-lg-center justify-content-xl-center">
                            <select class="d-sm-flex d-lg-flex d-xl-flex" style="width: 80%;" id="causa" name="causa">
                                <option value="Verbal" selected="">Violencia verbal</option>
                                <option value="Sexual">Violencia sexual</option>
                                <option value="Otros">Otros</option>
                            </select>
                        </div>
                    </div>
                    <h4 style="font-family: Antic, sans-serif;margin: 20px 0px 0px 0px;">Incluye un comentario (opcional):</h4>
                    <textarea style="font-size: 12px;margin: 20px 0px 0px 30px;width: 85%;" id="comentario" name="comentario"></textarea>
                </div>
                <input type="hidden" id="uid" name="uid" value="{{ producto.vendido_por.uid }}">
                <div class="modal-footer">
                    <button class="btn btn-secondary" style="background-color: #e91e63;border-color:transparent" type="submit">Enviar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalLogin">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Iniciar sesión</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="col" style="padding: 0px;">
                        <div class="row" style="margin: 0px;">
                            <div class="col" style="padding: 0px;">
                                <p style="margin: 0px;">Para iniciar sesión, escoge una de las alternativas que se ofrecen a continuación.</p>
                            </div>
                        </div>
                        <div class="row" style="margin: 20px 0px 0px 0px;">
                            <div class="col text-center">
                                <button onclick="getLocation('facebookLogin')" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #002649;border-color: 0px;padding: 0px;margin: 0px 15px 0px 0px;" type="button"><i class="icon ion-social-facebook" style="color:#ffffff;font-size:30px;"></i></button>
                                <button onclick="getLocation('googleLogin')" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #db4437;border-color: transparent;padding: 0px;margin: 0px 20px 0px 0px;" type="button"><i class="icon ion-social-google" style="color:#ffffff;font-size:30px;"></i></button>
                                <button onclick="getLocation('twitterLogin')" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #00aced;border-color: transparent;padding: 0px;" type="button"><i class="icon ion-social-twitter" style="color:#ffffff;font-size:30px;"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" style="background-color: #e91e63;color: rgb(255,255,255);" type="button">Cerrar</button></div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="toggled" style="color: rgb(40, 45, 50);margin: -3px 0px 0px 0px;">
        <div class="text-left d-lg-flex" id="sidebar-wrapper" style="background-color: rgb(40,45,50);margin: 0px 0px 50px -250px;">
            <div class="col" style="padding: 0px;color: rgb(40, 45, 50);">
                <div class="row" style="padding: 0px;">
                    <div class="col text-center" style="padding: 0px;"><a href="/api/get_user_profile"><img style="width: 100%;height: 160px;bottom: 20px;" src="{{ informacion_basica.imagen_perfil }}"></a></div>
                </div>
                <div class="row" style="width: 100%;margin: 25px 0px 0px 10px;">
                    <div class="col" style="padding: 0px;">
                        <h2 class="text-left" style="margin: 0px;color: rgb(255,255,255);font-family: Actor, sans-serif;">{{ informacion_basica.nombre }}</h2>
                    </div>
                </div>
                <div class="row" style="width: 100%;margin: 10px 0px 0px 0px;">
                    <div class="col" style="padding: 0px 0px 0px 10px;">
                        {% if informacion_basica.media_valoraciones == -1 %}
                        <h6 style="color: rgb(255,255,255);width: 150px;margin: px 0px 0px 0px;">Sin valoraciones</h6>
                        {% else %}
                        <div style="margin: 0px 0px 0px 0px;">
                            {% if informacion_basica.media_valoraciones == 1 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-half-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 2 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 3 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-half-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 4 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 5 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-half-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 6 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 7 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-half-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 8 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>
                            {% elif informacion_basica.media_valoraciones == 9 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-half-o"></i>
                            {% elif informacion_basica.media_valoraciones == 10 %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star"></i>
                            {% else %}<i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i><i style="color: rgb(255,255,255);font-size: 20px;" class="fa fa-star-o"></i>{% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin: 20px 0px 0px 0px;padding: 0px;width: 100%;">
                    <div class="col" style="padding: 0px;"><a class="btn btn-outline-primary text-center d-xl-flex justify-content-xl-center align-items-xl-center" role="button" style="width: 100%;height: 40px;background-color: #e91e63;font-size: 22px;border-color: transparent;margin: 0px 0px 0px 0px;color: rgb(255,255,255);"
                            href="/api/get_chats">Mis chats</a></div>
                </div>
                <div class="row" style="margin: 0px 0px 0px 0px;padding: 0px;">
                    <div class="col" style="padding: 0px;font-size: 22px;"><button class="btn btn-secondary text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="width: 100%;padding: -81px;height: 40px;background-color: #e91e63;font-size: 22px;border-color: transparent;margin: 3px 0px 0px 0px;"
                            type="button">Productos favoritos</button></div>
                </div>
                <div class="row" style="margin: 0px;width: 100%;">
                    <div class="col" style="width: 100%;padding: 0px;margin: 0px 0px 55px 0px;">
                        <div role="tablist" id="accordion-1" style="width: 100%;height: 100%;">
                            {% for p in informacion_basica.productos_favoritos %}
                            <div class="card" style="margin: 2px 0px 0px 0px;">
                                <div class="card-header" role="tab" style="background-color: rgba(233,30,99,0.6);margin: -1px -1px -1px -1px;">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-{{ forloop.counter }}" href="div#accordion-1 .item-{{ forloop.counter }}" style="color: rgb(0,0,0);margin: 0px 0px 0px 0px;font-size: 17px;">{{ p.info_producto.nombre }}</a>
                                    </h5>
                                </div>
                                <div class="collapse item-{{ forloop.counter }} text-center" role="tabpanel" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <div class="row" style="margin: -19px -20px;">
                                            <div class="col" style="padding: 0px;">
                                                <img style="width: 100%;height: 102%;" src="{{ p.info_producto.contenido_multimedia.0.contenido_url }}">
                                            </div>
                                            <div class="col text-left" style="padding: 0px;margin: 5px 0px 0px 10px;">
                                                <p style="margin: 0px 0px 0px;">{{ p.info_producto.num_likes }} likes</p>
                                                <p>
                                                    <strong>{{ p.info_producto.precio }} €</strong>
                                                </p>
                                                <a class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" role="button" href="/api/generic_product_view/?id={{ p.info_producto.pk }}">Ver más</a>
                                                <button onclick="anadirFavorito('{{ p.info_producto.pk }}')" class="btn btn-secondary" style="margin: 0px 0px 15px 13px;width: 76px;font-size: 14px;padding: 3px 0px;background-color: #e91e63;border-color:transparent" type="button">Quitar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #767676;margin: 72px -15px 0px -15px;">
        <div class="col d-lg-flex d-xl-flex align-self-center justify-content-lg-center justify-content-xl-center">
            <div class="carousel slide d-lg-flex d-xl-flex" data-ride="carousel" id="carousel-1" style="height: 450px;width: 75%;">
                <div class="carousel-inner" role="listbox">
                    {% for elemento in producto.info_producto.contenido_multimedia %}
                        <div class="carousel-item {% if forloop.first %} active {% endif %}" style="filter: grayscale(0%) hue-rotate(0deg) invert(0%) sepia(0%);margin: 0px;"><img class="w-100 d-block" src="{{ elemento.contenido_url }}" alt="Slide Image" style="height: 450px;"></div>
                    {% endfor %}
                </div>
                <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon" style="color: rgb(0,0,0);"></span><span class="sr-only" style="color: rgb(0,0,0);">Previous</span></a><a class="carousel-control-next"
                        href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                <ol class="carousel-indicators">
                    {% for elemento in producto.info_producto.contenido_multimedia %}
                        <li data-target="#carousel-1" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %}></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row" style="margin: 20px 0px 0px 0px;font-family: Antic, sans-serif;">
                <div class="col" style="padding: 0px 25px;">
                    <h1>{{ producto.info_producto.nombre }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding: 0px 25px;">
                    <p style="padding: 0px 15px;font-size: 24px;"><strong>{{ producto.info_producto.precio }}€</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding: 0px 25px;">
                    <p style="padding: 0px 15px;font-size: 24px;font-family: Antic, sans-serif;">ISBN: 978-0-7334-2609-4</p>
                </div>
            </div>
            <div class="row" style="margin: 0px;">
                <div class="col-xl-2 d-xl-flex justify-content-xl-end" style="padding: 0px 0px;width: 120px;">
                    {% if informacion_basica.uid == producto.vendido_por.uid %}
                    <a href="/api/get_user_profile">
                    {% else %}
                    <a href="/api/get_user_profile/?uid={{ producto.vendido_por.uid }}">
                    {% endif %}
                        <img style="width: 100px;height: 100px;margin: 0px 0px 0px 40px;" src="{{ producto.vendido_por.imagen_perfil }}">
                    </a>
                </div>
                <div class="col" style="padding: 0px;">
                    <h4 style="padding: 0px 13px;font-family: Antic, sans-serif;margin: 15px 0px 0px 15px;">{{ producto.vendido_por.nombre }}</h4>
                    <div class="d-xl-flex" style="margin: 13px 0px 0px 28px;">
                        {% if producto.vendido_por.media_valoraciones == 1 %}<i class="fa fa-star-half-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i>
                        {% elif producto.vendido_por.media_valoraciones == 2 %}<i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i>
                        {% elif producto.vendido_por.media_valoraciones == 3 %}<i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star-half-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i>
                        {% elif producto.vendido_por.media_valoraciones == 4 %}<i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i>
                        {% elif producto.vendido_por.media_valoraciones == 5 %}<i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star-half-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i>
                        {% elif producto.vendido_por.media_valoraciones == 6 %}<i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i>
                        {% elif producto.vendido_por.media_valoraciones == 7 %}<i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star-half-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i>
                        {% elif producto.vendido_por.media_valoraciones == 8 %}<i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i>
                        {% elif producto.vendido_por.media_valoraciones == 9 %}<i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star-half-o" style="font-size:25px"></i>
                        {% elif producto.vendido_por.media_valoraciones == 10 %}<i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i><i class="fa fa-star" style="font-size:25px"></i>
                        {% else %}<i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i><i class="fa fa-star-o" style="font-size:25px"></i>{% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding: 0px 25px;">
                    <p style="padding: 0px 15px;margin: 15px 0px 16px 0px;font-family: Antic, sans-serif;">{{ producto.info_producto.descripcion }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding: 0px 25px;">
                    <h3 style="padding: 0px 15px;margin: 15px 0px 25px 0px;font-family: Antic, sans-serif;">Etiquetas del producto</h3>
                    <div style="margin: 15px 0px 16px 0px;padding: 0px 15px;">
                        {% for tag in producto.info_producto.tiene_tags %}
                            <button class="btn btn-secondary" style="background-color: #e91e63;opacity: 1;border-color: transparent;border-radius: 20px;margin: 0px 10px 10px 0px;" type="button">{{ tag.nombre }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="padding: 0px;">
            <div class="row" style="padding: 0px;margin: 20px 0px 0px 0px;">
                <div class="col" style="padding: 0px 25px;">
                    <h3 style="font-family: Antic, sans-serif;">Características del producto</h3>
                </div>
            </div>
            <div class="row" style="margin: 0px;">
                <div class="col" style="padding: 0px 45px;">
                    {% if producto.info_producto.estado_producto == "Nuevo" %}
                        <p style="font-size: 18px;margin: 0px;font-family: Antic, sans-serif;">Nuevo<i class="material-icons" style="margin: 0px 0px 0px 10px;">fiber_new</i></p>
                    {% elif producto.info_producto.estado_producto == "Usado" %}
                        <p style="font-size: 18px;margin: 0px;font-family: Antic, sans-serif;">Usado</p>
                    {% else %}
                        <p style="font-size: 18px;margin: 0px;font-family: Antic, sans-serif;">Semi-nuevo</p>
                    {% endif %}
                    {% if producto.info_producto.tipo_envio %}
                        <p style="font-size: 18px;margin: 0px;font-family: Antic, sans-serif;">Con envío<i class="fa fa-truck" style="margin: 0px 0px 0px 10px;"></i></p>
                    {% else %}
                        <p style="font-size: 18px;margin: 0px;font-family: Antic, sans-serif;">Sin envío<i class="fa fa-truck" style="margin: 0px 0px 0px 10px;"></i></p>
                    {% endif %}
                    <p style="font-size: 18px;margin: 0px;font-family: Antic, sans-serif;">Número de likes: {{ producto.info_producto.num_likes }}<i class="far fa-heart" style="margin: 0px 0px 0px 10px;"></i></p>
                </div>
            </div>
            <div class="row" style="padding: 0px;margin: 20px 0px 0px 0px;">
                <div class="col" style="padding: 0px 25px;">
                    <h3 style="font-family: Antic, sans-serif;">Opciones</h3>
                </div>
            </div>
            <div class="row" style="margin: 0px;">
                <div class="col text-center" style="padding: 0px;margin: 10px 0px 0px 0px;">
                    {% if loggedin %}
                    {% if producto.vendido_por.uid != informacion_basica.uid %}
                    <button onclick="anadirFavorito('{{ producto.info_producto.pk }}')" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #e91e63;margin: 0px 10px 0px 0px;border-color:transparent;" type="button">
                        {% if producto.le_gusta %}
                        <i id="{{ producto.info_producto.pk }}Icon" class="fa fa-thumbs-down" style="color:#ffffff;font-size:30px;"></i>
                        {% else %}
                        <i id="{{ producto.info_producto.pk }}Icon" class="fa fa-thumbs-up" style="color:#ffffff;font-size:30px;"></i>
                        {% endif %}
                    </button>
                    <button onclick="crearChat('{{ producto.vendido_por.uid }}', '{{ producto.info_producto.pk }}')" class="btn btn-link btn-circle" role="button" style="border-radius: 50px;border: 1px solid black;background-color: #e91e63;margin: 0px 14px 0px 0px;border-color: transparent;" href="/api/get_chats">
                        <i class="fa fa-wechat d-xl-flex justify-content-xl-center align-items-xl-center" style="color: #ffffff;font-size: 30px;margin: 8px 0px 0px 0px;"></i>
                    </button>
                    {% endif %}
                    {% endif %}
                    <a href="https://twitter.com/intent/tweet?text={{ producto.info_producto.nombre }}%20está%20a%20la%20venta%20en%20Bookalo:%20https://bookalo.es/api/generic_product_view/?id={{ producto.info_producto.pk }}" class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #e91e63;border-color: transparent;margin: 0px 15px 0px 0px;" type="button">
                        <i class="icon ion-android-share-alt" style="color:#ffffff;font-size:30px;"></i>
                    </a>
                    {% if loggedin %}
                    {% if producto.vendido_por.uid != informacion_basica.uid %}
                    <a class="btn btn-link btn-circle" style="border-radius: 50px;border: 1px solid black;background-color: #e91e63;margin: 0px 10px 0px 0px;border-color:transparent;" role="button" data-toggle="modal" data-target="#modalReport">
                        <i class="fa fa-ban" style="color: #ffffff;font-size: 30px;margin: 8px 0px 0px 0px;"></i>
                    </a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row" style="margin: 25px 25px 25px 25px;">
                <div id="map" style="height: 450px; width: 100%;">

                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="latitud" name="variable" value="{{ producto.info_producto.latitud }}">
    <input type="hidden" id="longitud" name="variable" value="{{ producto.info_producto.longitud }}">
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-xl-2 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Chat integrado</a></li>
                            <li><a href="#">Productos favoritos</a></li>
                            <li><a href="#">Valoración de usuarios</a></li>
                            <li><a href="/api/privacypolicy">Política de privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xl-4 item">
                        <h3>El proyecto</h3>
                        <p style="opacity: 0.60;font-size: 14px;">El proyecto Bookalo nace como el resultado del trabajo de nueve estudiantes de Ingeniería Informática en la Universidad de Zaragoza, en el marco de la asignatura de Proyecto Software</p>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Bookalo</h3>
                        <p>Bookalo nace como una plataforma para la compraventa de productos nuevos y de segunda mano, enfocándose en el material escolar de todas las etapas educativas. ¿Aún no eres parte de Bookalo? ¡Únete!</p>
                    </div>
                    <div class="col item social" style="margin: 30px 0px 0px 0px;"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Bookalo</p>
            </div>
        </footer>
    </div><a class="cd-top js-cd-top cd-top--fade-out cd-top--show" style="background-image: url(&quot;{% static 'bookalo/img/cd-top-arrow.svg' %}&quot;);background-color: #e91e63;" href="#0">Top</a>
    <script src="{% static 'bookalo/js/jquery.min.js' %}"></script>
    <script src="{% static 'bookalo/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bookalo/js/-Filterable-Cards-.js' %}"></script>
    <script src="{% static 'bookalo/js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
    <script src="{% static 'bookalo/js/Bootstrap-Tags-Input-1.js' %}"></script>
    <script src="{% static 'bookalo/js/Bootstrap-Tags-Input.js' %}"></script>
    <script src="{% static 'bookalo/js/Contact-FormModal-Contact-Form-with-Google-Map.js' %}"></script>
    <script src="{% static 'bookalo/js/favoritos.js' %}"></script>
    <script src="{% static 'bookalo/js/fileinput.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>
    <script src="{% static 'bookalo/js/MUSA_carousel-extended.js' %}"></script>
    <script src="{% static 'bookalo/js/piexif.js' %}"></script>
    <script src="{% static 'bookalo/js/piexif.min.js' %}"></script>
    <script src="{% static 'bookalo/js/purify.js' %}"></script>
    <script src="{% static 'bookalo/js/purify.min.js' %}"></script>
    <script src="{% static 'bookalo/js/Range-selector---slider.js' %}"></script>
    <script src="{% static 'bookalo/js/Sidebar-Menu.js' %}"></script>
    <script src="{% static 'bookalo/js/slider.js' %}"></script>
    <script src="{% static 'bookalo/js/sortable.js' %}"></script>
    <script src="{% static 'bookalo/js/sortable.min.js' %}"></script>
    <script src="{% static 'bookalo/js/starrating.js' %}"></script>
    <script>
        function getLocation(provider) {
            if (navigator.geolocation) {
                if(provider == "googleLogin"){
                    navigator.geolocation.getCurrentPosition(googleLogin);
                }else if(provider == "twitterLogin"){
                    navigator.geolocation.getCurrentPosition(twitterLogin);
                }else{
                    navigator.geolocation.getCurrentPosition(facebookLogin);
                }
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
    </script>
    <script>
        function facebookLogin(position){
            var provider = new firebase.auth.FacebookAuthProvider();
            firebase.auth().useDeviceLanguage();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a Facebook Access Token. You can use it to access the Facebook API.
                var token = result.credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                // ...
                firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                    var csrftoken = '{{ csrf_token }}';
                    const messaging = firebase.messaging();
                    messaging.requestPermission().then(function() {
                        console.log('Notification permission granted.');
                        messaging.getToken().then(function(currentToken) {
                            if (currentToken) {
                                $.post("/api/login", {'csrfmiddlewaretoken': csrftoken, 'token': idToken, 'fcm_token': currentToken, 'latitud': position.coords.latitude, 'longitud': position.coords.longitude});
                                setTimeout(function(){
                                    document.location.reload(true);
                                }, 1500);
                            } else {
                                alert("No Instance ID token available");
                                // Show permission request.
                                console.log('No Instance ID token available. Request permission to generate one.');
                            }
                        }).catch(function(err) {
                            alert("An error occurred while retrieving token");
                            console.log('An error occurred while retrieving token. ', err);
                        });
                    }).catch(function(err) {
                        alert("Unable to get permission to notify");
                        console.log('Unable to get permission to notify.', err);
                    });
                }).catch(function(error) {
                    alert("Error al iniciar sesión")
                    // Handle error
                });
            }).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
                alert("No se pudo conectar con Facebook. Por favor, inténtelo de nuevo.");
                alert(errorMessage);
            });
        }
    </script>
    <script>
        function googleLogin(position){
            var provider = new firebase.auth.GoogleAuthProvider();
            firebase.auth().useDeviceLanguage();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a Google Access Token. You can use it to access the Google API.
                var token = result.credential.accessToken;
                // The signed-in user info.
                var user = result.user;
                // ...
                firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                    var csrftoken = '{{ csrf_token }}';
                    const messaging = firebase.messaging();
                    messaging.requestPermission().then(function() {
                        console.log('Notification permission granted.');
                        messaging.getToken().then(function(currentToken) {
                            if (currentToken) {
                                $.post("/api/login", {'csrfmiddlewaretoken': csrftoken, 'token': idToken, 'fcm_token': currentToken, 'latitud': position.coords.latitude, 'longitud': position.coords.longitude});
                                setTimeout(function(){
                                    document.location.reload(true);
                                }, 1500);
                            } else {
                                alert("No Instance ID token available");
                                // Show permission request.
                                console.log('No Instance ID token available. Request permission to generate one.');
                            }
                        }).catch(function(err) {
                            alert("An error occurred while retrieving token");
                            console.log('An error occurred while retrieving token. ', err);
                        });
                    }).catch(function(err) {
                        alert("Unable to get permission to notify");
                        console.log('Unable to get permission to notify.', err);
                    });
                }).catch(function(error) {
                    alert("Error al iniciar sesión")
                    // Handle error
                });
            	}).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
                alert("No se pudo conectar con Google. Por favor, inténtelo de nuevo.");
                alert(errorMessage);
            });
        }
    </script>
    <script>
        function twitterLogin(position){
            var provider = new firebase.auth.TwitterAuthProvider();
            firebase.auth().useDeviceLanguage();
            firebase.auth().signInWithPopup(provider).then(function(result) {
                // This gives you a the Twitter OAuth 1.0 Access Token and Secret.
                // You can use these server side with your app's credentials to access the Twitter API.
                var token = result.credential.accessToken;
                var secret = result.credential.secret;
                // The signed-in user info.
                var user = result.user;
                // ...
                firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                    var csrftoken = '{{ csrf_token }}';
                    const messaging = firebase.messaging();
                    messaging.requestPermission().then(function() {
                        console.log('Notification permission granted.');
                        messaging.getToken().then(function(currentToken) {
                            if (currentToken) {
                                $.post("/api/login", {'csrfmiddlewaretoken': csrftoken, 'token': idToken, 'fcm_token': currentToken, 'latitud': position.coords.latitude, 'longitud': position.coords.longitude});
                                setTimeout(function(){
                                    document.location.reload(true);
                                }, 1500);
                            } else {
                                alert("No Instance ID token available");
                                // Show permission request.
                                console.log('No Instance ID token available. Request permission to generate one.');
                            }
                        }).catch(function(err) {
                            alert("An error occurred while retrieving token");
                            console.log('An error occurred while retrieving token. ', err);
                        });
                    }).catch(function(err) {
                        alert("Unable to get permission to notify");
                        console.log('Unable to get permission to notify.', err);
                    });
                }).catch(function(error) {
                    alert("Error al iniciar sesión")
                    // Handle error
                });
                }).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                // ...
                alert("No se pudo conectar con Twitter. Por favor, inténtelo de nuevo.");
                alert(errorMessage);
            });
        }
    </script>
    <script>
        function cerrarSesion(){
            var csrftoken = '{{ csrf_token }}';
            $.post("/logout", {'csrfmiddlewaretoken': csrftoken});
            firebase.auth().signOut().then(function() {
                window.location = "https://bookalo.es"
            }).catch(function(error) {
                alert("Error al cerrar sesión");
            });
        }
    </script>
    <script>
        function anadirFavorito(id){
            if(document.getElementById(id + "Icon").className == "fa fa-thumbs-up"){
                document.getElementById(id + "Icon").className = "fa fa-thumbs-down";
            } else{
                document.getElementById(id + "Icon").className = "fa fa-thumbs-up";
            }
            var csrftoken = '{{ csrf_token }}';
            $.post("/api/like_product", {'csrfmiddlewaretoken': csrftoken, 'idProducto': id});
            document.location.reload(true);
        }
    </script>
    <script>
        function crearChat(uid, id){
            var csrftoken = '{{ csrf_token }}';
            $.post("/api/create_chat", {'csrfmiddlewaretoken': csrftoken, 'uidUsuario': uid, 'idProducto': id});
            setTimeout(function(){
                window.location.href = "http://bookalo.es/api/get_chats";
            }, 1500);
        }
    </script>
    <script>
        function initMap() {
            var latitud = parseFloat((document.getElementById("latitud").value).replace(/,/g, '.'));
            var longitud = parseFloat((document.getElementById("longitud").value).replace(/,/g, '.'));

            var myLatLng = {lat: latitud, lng: longitud};
        
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: myLatLng
            });

            var marker = new google.maps.Marker({position: myLatLng, map: map});
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8J3bxQEsVzkzpdNEoApuGxXFvXGajBg0&callback=initMap"></script>
</body>
</html>