<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BookaloReport</title>
    <link rel="stylesheet" href="{% static 'bookalo/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Background-motion1-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Background-motion1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/Parallax-Scroll-Effect.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/sidebar-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/SIdebar-Responsive-2-1.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/SIdebar-Responsive-2.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'bookalo/css/styles.css' %}">
</head>

<body style="background-color: #ff9cbe;">
    <div class="jumbotron" style="background-color: #e91e63;">
        <h1>Reporte RECHAZADO</h1>
        <p>El reporte ha sido rechazado correctamente</p>
        <p><a class="btn btn-primary" role="button" style="background-color: #282d32;color: rgb(255,255,255);border-color:transparent" href="https://bookalo.es">Ir a bookalo.es</a></p>
    </div>
    <script src="{% static 'bookalo/js/jquery.min.js' %}"></script>
    <script src="{% static 'bookalo/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>