.tag-cloud .tag1 {
  font-size: 0.5em;
}

.tag-cloud .tag3 {
  font-size: 0.7em;
}

.tag-cloud .tag2 {
  font-size: 0.6em;
}

.tag-cloud .tag4 {
  font-size: 0.8em;
}

.tag-cloud .tag5 {
  font-size: 0.9em;
}

.tag-cloud .tag6 {
  font-size: 1em;
}

.tag-cloud .tag7 {
  font-size: 1.1em;
}

.tag-cloud .tag8 {
  font-size: 1.2em;
}

.tag-cloud .tag9 {
  font-size: 1.3em;
}

.tag-cloud .tag10 {
  font-size: 1.4em;
}

.tag-cloud .tag11 {
  font-size: 1.5em;
}

.tag-cloud span {
  display: inline-block;
  margin-right: 10px;
}

.tag-cloud .tag12 {
  font-size: 1.6em;
}

.tag-cloud .tag13 {
  font-size: 1.7em;
}

.tag-cloud .tag14 {
  font-size: 1.8em;
}

.tag-cloud .tag15 {
  font-size: 1.9em;
}

.tag-cloud {
  text-align: justify;
}

